<div class="container-fluid">
	<div class='panel panel-default'>
		<div class='panel-heading'>
			<h3 class="titulo-calc">
				<span class="nomeCalc">Classificação clínica e espirométrica</span>
				<small>Calculo da classificação clínica e espirométrica da asma</small>
			</h3>
		</div>
		<div class='panel-body'>
		    <div class="item item-1 active" data-indice='1'>
				<div class="col-md-12 col-sm-12 col-xs-12">
					<h4 class='sub-titulo-calc'><small>Manifestações Clínicas </small></h4>
					<span>Quantas vezes por semana o paciente apresenta sintomas?</span>
				    <div class='radio first'>
					    <label>
						    <input type="radio" name="optionRadios1" id="1vez" value='1' checked> Até 2 vezes por semana 
						</label>
					</div>
					<div class='radio'>
					    <label>
						    <input type="radio" name="optionRadios1" id="2vez" value='2'> De 3 à 6 vezes por semana
					    </label>
					</div>
					<div class='radio'>
						<label >
							<input  type="radio" name="optionRadios1" id="3vez" value='3'> Diários
						</label>
					</div>
					<div class='radio'>
					    <label>
						    <input type="radio" name="optionRadios1" id="4vez" value='4'> Contínuos
						</label>
					</div>
				</div>
			</div>

		    <div class="item item-2 " data-indice='2'>
				<div class="col-md-12 col-sm-12 col-xs-12">
					<h4 class='sub-titulo-calc'><small>Manifestações Clínicas </small></h4>
					<span>Quantas vezes por semana o paciente apresenta despertares noturnos?</span>
				    <div class='radio first'>
					    <label>
						    <input type="radio" name="optionRadios2" id="1vez" value='1' checked> Até 2 vezes por semana 
						</label>
					</div>
					<div class='radio'>
					    <label>
						    <input type="radio" name="optionRadios2" id="2vez" value='2'> De 3 à 4 vezes por mês
					    </label>
					</div>
					<div class='radio'>
						<label >
							<input  type="radio" name="optionRadios2" id="3vez" value='3'> Mais de 1 vez por semana
						</label>
					</div>
					<div class='radio'>
					    <label>
						    <input type="radio" name="optionRadios2" id="4vez" value='4'> Quase diários
						</label>
					</div>
				</div>
			</div>
		    <div class="item item-3 " data-indice='3'>
		    	<div class="col-md-12 col-sm-12 col-xs-12">
					<h4 class='sub-titulo-calc'><small>Manifestações Clínicas </small></h4>
					<span>Quantas vezes por semana o paciente apresenta ecessidade de beta-2-agonista adrenérgico para alívio?</span>


				    <div class='radio first'>
					    <label>
						    <input type="radio" name="optionRadios3" id="1vez" value='1' checked> Até 2 vezes por semana 
						</label>
					</div>
					<div class='radio'>
					    <label>
						    <input type="radio" name="optionRadios3" id="2vez" value='2'> Menos de 2 vezes por semana 
					    </label>
					</div>
					<div class='radio'>
						<label >
							<input  type="radio" name="optionRadios3" id="3vez" value='3'> Diária
						</label>
					</div>

				</div>
			</div>
		    <div class="item item-4 " data-indice='4'>
		    	<div class="col-md-12 col-sm-12 col-xs-12">
		    		<h4 class='sub-titulo-calc'><small>Manifestações Clínicas </small></h4>
					<span>Existem limitações de atividades</span>
				    <div class='radio first'>
					    <label>
					      <input type="radio" name="optionRadios4" id="ausente" value='1' checked> Ausente.
					    </label>
				    </div>
				    <div class='radio'>
					    <label>
					      <input type="radio" name="optionRadios4" id="presente" value='2'> Presentes nas exacerbações.
					    </label>
					</div>
				    <div class='radio'>
					    <label>
					      <input type="radio" name="optionRadios4" id="continua" value='3'>Contínuas.
					    </label>
				    </div>

				</div>
		    </div>
		    <div class="item item-5 " data-indice='5'>
		    	<div class="col-md-12 col-sm-12 col-xs-12">
					<h4 class='sub-titulo-calc'><small>Manifestações Clínicas </small></h4>
					<span>Com que frequência o paciente apresenta exacerbações?</span>
				    <div class='radio first'>
					    <label>
					      <input type="radio" name="optionRadios5" id="umaoumenos" value='1' checked> Uma vez ao ano ou menos
					    </label>
				    </div>
				    <div class='radio'>
					    <label>
					      <input type="radio" name="optionRadios5" id="diasoumais" value='2'> Duas vezes ao ano ou mais
					    </label>
					</div>


				</div>
		    </div>
		    <div class="item item-6 " data-indice='6'>
		    	<div class="col-md-12 col-sm-12 col-xs-12">
					<h4 class='sub-titulo-calc'><small>Dados espirométricos </small></h4>
					<span>VEF1, ou PFE:</span>
				    <div class='radio first'>
					    <label>
					      <input type="radio" name="optionRadios6" id="80oumais" value='1'> 80% do previsto ou mais
					    </label>
				    </div>
				    <div class='radio'>
					    <label>
					      <input type="radio" name="optionRadios6" id="60a80" value='2'> De 60% a 80% do previsto
					    </label>
						</div>
				    <div class='radio '>
					    <label>
					      <input type="radio" name="optionRadios6" id="60oumenos" value='3' checked> 60% do previsto ou menos
					    </label>
				    </div>
				    <span>VEF1: volume expiratório forçado no primeiro segundo</span></br>
				    <span>PFE: Pico de fluxo expiratório máximo</span>

				</div>
		    </div>
		    <div class="item item-7 " data-indice='7'>
		    	<div class="col-md-12 col-sm-12 col-xs-12">
					<h4 class='sub-titulo-calc'><small>Dados espirométricos </small></h4>
					<span>A variação VEF1, ou PFE foi:</span>
				    <div class='radio first'>
					    <label>
					      <input type="radio" name="optionRadios7" id="abaixo20" value='1'> Abaixo de 20%
					    </label>
				    </div>
				    <div class='radio'>
					    <label>
					      <input type="radio" name="optionRadios7" id="20a30" value='2'> De 20% a 30%
					    </label>
						</div>
				    <div class='radio'>
					    <label>
					      <input type="radio" name="optionRadios7" id="acima30" value='3' checked> Acima de 30%
					    </label>
				    </div>

				</div>
		    </div>

		    <div class='item item-8  ' data-indice='8'>
		    	<div class="col-md-12 col-sm-12 col-xs-12">
					<h2 class='resultado-titulo'>Resultado</h2>

					<div class='descricao-resultado'>
						<h3 >Manifestações Clínicas Classificadas como: </h3>
						<p><h1 class='col-sm-4 resultado'></h1></p>
					</div>

				</div>
				<!-- <div class='col-md-12 col-sm-12 col-xs-12 calc-footer'>
					<h4 >Versão impressa</h4>
					<dl>
					    <dt><a href="/static/bib/apoio/paciente_ad1.pdf" target="_blank">Especificação da calculadora de complexidade do pacente em AD1.</a>
					    </dt>
					    <dd>
					      <small>58.3 kB</small>
					    </dd>
					</dl>
					<h4>Referências:</h4>
					<dl>
					    <dt>
						BRASIL. Ministério da Saúde. Secretaria de Atenção à Saúde. Departamento de Atenção Básica. <a href="/static/bib/brasil_caderno_de_atencao2.pdf" target="_blank">Caderno de atenção domiciliar.</a> Brasília, DF: Ministério da Saúde, 2013. 205 p.
						</dt>
						<dd><p>Disponível em: <a href="http://189.28.128.100/dab/docs/portaldab/publicacoes/cad_vol2.pdf" target="_blank">http://189.28.128.100/dab/docs/portaldab/publicacoes/cad_vol2.pdf</a> Acesso em 2014 <br><small>2000.0 kB</small></p>
						</dd>
					</dl>
					<dl>
						<dt>SAVASSI, Leonardo C. M. et al. <a href="/static/bib/savassi_proposta_protocolo_risco_AD_2012.pdf" target="_blank">Proposta de protocolo de classificação de risco para atendimento domiciliar individual na atenção primária.</a> J. Manag. Prim. Health Care, [S.l.], v. 3, n. 2, p. 151-1577, 2012.
						</dt>
						<dd><p>Disponível em: <a href="http://www.jmphc.com/ojs/index.php/01/article/view/56/50" target="_blank">http://www.jmphc.com/ojs/index.php/01/article/view/56/50</a> Acesso em 2014 <br><small>390.0 kB</small></p>
						</dd>
					</dl>
				</div> -->
		    </div>

		    <div class="col-md-12 col-sm-12 col-xs-12">
		    	<ul class="pagination">
				  <li id='prev' ><a class='sensivel'><span class='glyphicon glyphicon-chevron-left prev'></span></a></li>
				  <li id='inicio'><a class='sensivel'><span class='glyphicon glyphicon-home inicio'></span></a></li>
				  <li class="p1"><a >1</a></li>
				  <li class="p2"><a >2</a></li>
				  <li class="p3"><a >3</a></li>
				  <li class="p4"><a >4</a></li>
				  <li class="p5"><a >5</a></li>
				  <li class="p6"><a >6</a></li>
				  <li class="p7"><a >7</a></li>
				  <li class="p8"><a >8</a></li>
				  <li id='next'><a class='sensivel'><span class='glyphicon glyphicon-chevron-right next'></span></a></li>
				</ul>
				<div class='btn-group'>
					<!--button id='prev' type='button' class='prev btn btn-default' ><span class='ion-ios7-arrow-back'></span></button>
					<button id='inicio' type='button' class='inicio btn btn-default'><span class='ion-home'></span></button>
					<button id='next' type='button' class='next btn btn-default' ><span class='ion-ios7-arrow-forward'></span></button-->
				</div>
			</div>
		</div>
	</div>
</div>