<style type='text/css'>
    .monitoramento .panel-heading{
        background-color: #CCE1EF!important;
        color:#2C5A7A!important;
    }
  .monitoramento .btn-remove{
        background-color: #e56565!important;

    } 
    .locais li{
        border-top: 1px solid #ddd!important;
    }
    .btn{
        font-size:1.2rem;
        padding:6px 20px!important;
    }
    li {
  list-style-type: none;
}
.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 10px!important;
}

</style>
        <div class='row ' style='margin:2rem'>
            <div class='col-sm-12'>
                <h3>Calculadora de Indicadores para Avaliação do Monitoramento dos Contatos de Casos de Covid-19</h3>
            </div>
        </div>
<div class='panel panel-default monitoramento'>
    <div class=' panel-heading'>
        <div class='row'>
            <div class='col-sm-6'>
            <h3>Meus Locais</h3>
            </div>
            <div class='col-sm-6 text-right'>
                <a href='#comp/monitoramento-covid/local'  class='btn btn-primary'> 
                        <i class='glyphicon glyphicon-plus'> Inserir Local</i>
                </a>
            </div>
        </div>
    </div>
    <div class=' panel-body' style='padding:0px'>
        <ul class='list-group locais'>
        </ul>
    </div>
</div>
<div class='container calc-footer' style='margin-top: 6rem;'>
	<div class="col-md-12">

          <h4>Créditos:</h4>
          <div style='padding:1rem'>
              <b>Autores:</b>
              <span class='px-1'>Anaclaudia Gastal Fassa</span><br>
              <span class='px-1'>Mirelle de Oliveira Saes</span><br>
              <span class='px-1'>Everton Fantinel</span><br>
              <span class='px-1'>Denise Silva da Silveira</span>
              <br>
              <b>Programador:</b> Vanderson Oliveira da Silva<br>
              <b>Webdesigner:</b> Bruna das Neves<br>
          </div>
	</div>
</div>

