<div class="bbm-modal__topbar">
    <div class="bbm-modal__title">Peça seu certificado</div>
</div>
<div class="bbm-modal__section row">
    <h2>Parabéns!</h2>
    <p>Você concluiu os requisitos para certificação e concluiu o Teste Final.</p>
    <p>Como resultado disto você está elegível para a certificação no <%-window.modulo.name%>.</p>
    <p>Acesse o menu <b>Cadastro -> Meu progresso</b> para gerar seu certificado.</p>
</div>
<div class="bbm-modal__bottombar">
    <div class="row">
        <div class="col-md-12">
            <a href="#" class="btn btn-danger close-modal pull-left">Fechar</a>
            <a href="#" class="btn btn-success submit-form pull-right">Emitir o certificado</a>
        </div>
    </div>
</div>
