<div class="bbm-modal__topbar">
	<div class="bbm-modal__title">Teste Final Bloqueado</div>
</div>
<div class="bbm-modal__section row">
  <%if(App.user.profissional!=0){%>
	    <p>Para acessar o Teste Final você precisa ter concluído 70% ou mais dos Casos Clínicos Interativos com no mínimo 70% de acerto em suas respostas.
	    </p>
		  <p>Continue respondendo os casos, reinicie os que você não obteve bons resultados e desbloqueie o Teste Final.</p>
  <%} else {%>
      <p>Você tem acesso aos Testes Iniciais.<br>A certificação está disponível apenas para profissionais de Medicina e Enfermagem.</p>
  <%}%>
</div>
<div class="bbm-modal__bottombar">
    <a href="#" class="bbm-button close-modal">Entendi</a>
</div>
