<div id="ubs-novaUbs-layout">
    <div class="container ubs-main-container">
        <div class="row">
            <div class="col-md-12">
                <div class="h1"><i class="mdi-maps-location-history"></i> Escolha <span class="hidden-xs">a </span>sua <span class="hidden-xs">Unidade de Saúde</span><span class="hidden-sm hidden-md hidden-lg">UBS</span></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-pills nav-justified">
                    <li role="presentation" class="active">Passo 1 - Estado</li>
                    <li role="presentation" class="disabled">Passo 2 - Cidade</li>
                    <li role="presentation" class="disabled">Passo 3 - Unidade</li>
                </ul>
            </div>
            <div class="col-md-12" id="passoBox"></div>
        </div>
    </div>
</div>