<!-- <div class="row-action-primary">
  <i class="mdi-maps-local-hospital"></i>
</div> -->
<div class="row-content">
  <div class="action-secondary"><i class="mdi-maps-local-hospital"></i></div>
  <h4 class="list-group-item-heading"><%-nome%></h4>
  <p class="list-group-item-text text-muted"><%-tipo%>, <%-bairro%></p>
</div>