<div class="container-fluid">
	<div class='panel panel-default'>
		<div class='panel-heading'>
			<h3 class="titulo-calc">
				<span class="nomeCalc">Complexidade do paciente de AD 1</span>
				<small>Calculo do nível da complexidade do paciente de AD 1. </small>
			</h3>
		</div>
		<div class='panel-body'>
		    <div class="item item-1 active" data-indice='1'>
				<div class="col-md-12 col-sm-12 col-xs-12">
					<h4>Critério de avaliação 1:</h4>
					<span>Qual o nível de dependencia do paciente para fazer AVDIs(Atividades de vida diária básicas)?</span>
				    <div class='radio first'>
					    <label>
					    	<input type="radio" name="optionRadios1" id="nunca" value='0' checked> Independete para todas as ADVBs.
						</label>
					</div>
					<div class='radio'>
					    <label>
						    <input type="radio" name="optionRadios1" id="raramente" value='1'> Dependente para até 2 AVDBs.
						</label>
					</div>
					<div class='radio'>
					    <label>
						    <input type="radio" name="optionRadios1" id="algumas" value='2'> Dependente para até 4 AVDBs.
					    </label>
					</div>
					<div class='radio'>
						<label >
							<input  type="radio" name="optionRadios1" id="frequentemente" value='3'> Dependente para 5 ou 6 AVDBs.
						</label>
					</div>
				</div>
			</div>

		    <div class="item item-2 " data-indice='2'>
				<div class="col-md-12 col-sm-12 col-xs-12">
					<h4>Critério de avaliação 2:</h4>
					<span>Qual o nível de dependencia do paciente para fazer AVDIs(Atividades de vida diária instrumentais)?</span>
				    <div class='radio first'>
					    <label>
					      <input type="radio" name="optionRadios2" id="nunca" value='0' checked> Não prercisa de ajuda para sair de casa, realizar atividades sociais e gerenciar as finanças.
					    </label>
				    </div>
				    <div class='radio'>
					    <label>
					      <input type="radio" name="optionRadios2" id="raramente" value='1'> Necessita de ajuda para sair de casa, realizar atividades sociais e gerenciar as finanças.
					    </label>
						</div>
				    <div class='radio'>
					    <label>
					      <input type="radio" name="optionRadios2" id="algumas" value='2'> Não sai de casa mas realiza tarefas de casa sem ajuda/ ou controla suas finanças.
					    </label>
				    </div>
				    <div class='radio'>
						<label >
							<input  type="radio" name="optionRadios2" id="frequentemente" value='3'> Não tem nenhuma autonomia.
						</label>
					</div>
				</div>
			</div>
		    <div class="item item-3 " data-indice='3'>
		    	<div class="col-md-12 col-sm-12 col-xs-12">
					<h4>Critério de avaliação 3:</h4>
					<span>Como está a função cognitiva(MEEM)/ audição, visão e fala?</span>
				    <div class='radio first'>
					    <label>
					      <input type="radio" name="optionRadios3" id="nunca" value='0' checked> Sem alterações cognitivas ou sensoriais.
					    </label>
				    </div>
				    <div class='radio'>
					    <label>
					      <input type="radio" name="optionRadios3" id="raramente" value='1'> Alterações cognitivas <b>ou</b> sensoriais.
					    </label>
						</div>
				    <div class='radio'>
					    <label>
					      <input type="radio" name="optionRadios3" id="algumas" value='2'> Alterações cognitivas <b>e</b> sensoriais.
					    </label>
				    </div>
				    <div class='radio'>
						<label >
							<input  type="radio" name="optionRadios3" id="frequentemente" value='3'> Sem total funcionalidade cognitiva (Vida vegetativa).
						</label>
					</div>

				</div>
			</div>
		    <div class="item item-4 " data-indice='4'>
		    	<div class="col-md-12 col-sm-12 col-xs-12">
					<h4>Critério de avaliação 4:</h4>
					<span>Escore de framingham</span>
				    <div class='radio first'>
					    <label>
					      <input type="radio" name="optionRadios4" id="nunca" value='0' checked> Baixo Risco < 10%.
					    </label>
				    </div>
				    <div class='radio'>
					    <label>
					      <input type="radio" name="optionRadios4" id="raramente" value='1'> Risco moderado 10 a 20%.
					    </label>
					</div>
				    <div class='radio'>
					    <label>
					      <input type="radio" name="optionRadios4" id="algumas" value='2'>Alto risco > 20%.
					    </label>
				    </div>

				</div>
		    </div>
		    <div class="item item-5 " data-indice='5'>
		    	<div class="col-md-12 col-sm-12 col-xs-12">
					<h4>Critério de avaliação 5:</h4>
					<span>Presença de ulcera de pele:</span>
				    <div class='radio first'>
					    <label>
					      <input type="radio" name="optionRadios5" id="nunca" value='0' checked> Ausente e sem fatores de risco.
					    </label>
				    </div>
				    <div class='radio'>
					    <label>
					      <input type="radio" name="optionRadios5" id="raramente" value='1'> Ausente e com fatores de risco.
					    </label>
						</div>
				    <div class='radio'>
					    <label>
					      <input type="radio" name="optionRadios5" id="algumas" value='2'> Presente
					    </label>
				    </div>

				</div>
		    </div>
		    <div class="item item-6 " data-indice='6'>
		    	<div class="col-md-12 col-sm-12 col-xs-12">
					<h4>Critério de avaliação 6:</h4>
					<span>Estado Nutricional(IMC)</span>
				    <div class='radio first'>
					    <label>
					      <input type="radio" name="optionRadios6" id="nunca" value='0' checked> Eutrófico IMC entre 22 e 27.
					    </label>
				    </div>
				    <div class='radio'>
					    <label>
					      <input type="radio" name="optionRadios6" id="raramente" value='1'> Baixo peso (IMC < 20) ou sobrepeso (IMC > 30).
					    </label>
						</div>
				    <div class='radio'>
					    <label>
					      <input type="radio" name="optionRadios6" id="algumas" value='2'> Perda de peso acentuada( > de %5 em 1 mês ou >10% em 6 meses).
					    </label>
				    </div>
				    <div class='radio'>
						<label >
							<input  type="radio" name="optionRadios6" id="frequentemente" value='3'> Caquexia ou obesidade mórbida que impeça a deambulação.
						</label>
					</div>

				</div>
		    </div>
		    <div class="item item-7 " data-indice='7'>
		    	<div class="col-md-12 col-sm-12 col-xs-12">
					<h4>Critério de avaliação 7:</h4>
					<span>Incontingência urinária</span>
				    <div class='radio first'>
					    <label>
					      <input type="radio" name="optionRadios7" id="nunca" value='0' checked> Ausente
					    </label>
				    </div>
				    <div class='radio'>
					    <label>
					      <input type="radio" name="optionRadios7" id="raramente" value='1'> Incontingência transitória.
					    </label>
						</div>
				    <div class='radio'>
					    <label>
					      <input type="radio" name="optionRadios7" id="algumas" value='2'> Incontingência de estresse, urgência ou sobrefluxo.
					    </label>
				    </div>
				    <div class='radio'>
						<label >
							<input  type="radio" name="optionRadios7" id="frequentemente" value='3'> Incontingência funcional.
						</label>
					</div>

				</div>
		    </div>
		    <div class="item item-8 " data-indice='8'>
		    	<div class="col-md-12 col-sm-12 col-xs-12">
					<h4>Critério de avaliação 8:</h4>
					<span>Avaliação do humor:</span>
				    <div class='radio first'>
					    <label>
					      <input type="radio" name="optionRadios8" id="nunca" value='0' checked> Sem alterações no humor.
					    </label>
				    </div>
				    <div class='radio'>
					    <label>
					      <input type="radio" name="optionRadios8" id="raramente" value='1'> Presença de fatores de risco ou indicíos de depressão.
					    </label>
						</div>
				    <div class='radio'>
					    <label>
					      <input type="radio" name="optionRadios8" id="algumas" value='2'> Depressão clínica ou escores sugestivos de gravidade.
					    </label>
				    </div>
				    <div class='radio'>
						<label >
							<input  type="radio" name="optionRadios8" id="frequentemente" value='3'> Depressão clínica associada a risco de suicídio.
						</label>
					</div>

				</div>
		    </div>
		    <div class="item item-9 " data-indice='9'>
		    	<div class="col-md-12 col-sm-12 col-xs-12">
					<h4>Critério de avaliação 9:</h4>
					<span>Funcionalidade familiar:</span>
				    <div class='radio first'>
					    <label>
					      <input type="radio" name="optionRadios9" id="nunca" value='0' checked> Família funcional.
					    </label>
				    </div>
				    <div class='radio'>
					    <label>
					      <input type="radio" name="optionRadios9" id="raramente" value='1'> Boa funcionalidade familiar mas pouco recurso.
					    </label>
						</div>
				    <div class='radio'>
					    <label>
					      <input type="radio" name="optionRadios9" id="algumas" value='2'> Família disfuncional.
					    </label>
				    </div>
				    <div class='radio'>
						<label >
							<input  type="radio" name="optionRadios9" id="frequentemente" value='3'>Mora sozinho e sem auxilio familiar.
						</label>
					</div>

				</div>
		    </div>

		    <div class='item item-10  ' data-indice='10'>
		    	<div class="col-md-12 col-sm-12 col-xs-12">
					<h2 >Resultado:<small class='resultado'></small></h2>

					<div class='descricao-resultado'>
						<h4>Organização do processo de trabalho </h4>
						<ul class='processoTrabalho list-group'></ul>
					</div>

				</div>
				<div class='col-md-12 col-sm-12 col-xs-12 calc-footer'>
					<h4 >Versão impressa</h4>
					<dl>
					    <dt><a href="/static/bib/apoio/paciente_ad1.pdf" target="_blank">Especificação da calculadora de complexidade do pacente em AD1.</a>
					    </dt>
					    <dd>
					      <small>58.3 kB</small>
					    </dd>
					</dl>
					<h4>Referências:</h4>
					<dl>
					    <dt>
						BRASIL. Ministério da Saúde. Secretaria de Atenção à Saúde. Departamento de Atenção Básica. <a href="/static/bib/brasil_caderno_de_atencao2.pdf" target="_blank">Caderno de atenção domiciliar.</a> Brasília, DF: Ministério da Saúde, 2013. 205 p.
						</dt>
						<dd><p>Disponível em: <a href="http://189.28.128.100/dab/docs/portaldab/publicacoes/cad_vol2.pdf" target="_blank">http://189.28.128.100/dab/docs/portaldab/publicacoes/cad_vol2.pdf</a> Acesso em 2014 <br><small>2000.0 kB</small></p>
						</dd>
					</dl>
					<dl>
						<dt>SAVASSI, Leonardo C. M. et al. <a href="/static/bib/savassi_proposta_protocolo_risco_AD_2012.pdf" target="_blank">Proposta de protocolo de classificação de risco para atendimento domiciliar individual na atenção primária.</a> J. Manag. Prim. Health Care, [S.l.], v. 3, n. 2, p. 151-1577, 2012.
						</dt>
						<dd><p>Disponível em: <a href="http://www.jmphc.com/ojs/index.php/01/article/view/56/50" target="_blank">http://www.jmphc.com/ojs/index.php/01/article/view/56/50</a> Acesso em 2014 <br><small>390.0 kB</small></p>
						</dd>
					</dl>
				</div>
		    </div>

		    <div class="col-md-12 col-sm-12 col-xs-12">
		    	<ul class="pagination">
				  <li id='prev' ><a class='sensivel'><span class='glyphicon glyphicon-chevron-left prev'></span></a></li>
				  <li id='inicio'><a class='sensivel'><span class='glyphicon glyphicon-home inicio'></span></a></li>
				  <li class="p1"><a >1</a></li>
				  <li class="p2"><a >2</a></li>
				  <li class="p3"><a >3</a></li>
				  <li class="p4"><a >4</a></li>
				  <li class="p5"><a >5</a></li>
				  <li class="p6"><a >6</a></li>
				  <li class="p7"><a >7</a></li>
				  <li class="p8"><a >8</a></li>
				  <li class="p9"><a >9</a></li>
				  <li id='next'><a class='sensivel'><span class='glyphicon glyphicon-chevron-right next'></span></a></li>
				</ul>
				<div class='btn-group'>
					<!--button id='prev' type='button' class='prev btn btn-default' ><span class='ion-ios7-arrow-back'></span></button>
					<button id='inicio' type='button' class='inicio btn btn-default'><span class='ion-home'></span></button>
					<button id='next' type='button' class='next btn btn-default' ><span class='ion-ios7-arrow-forward'></span></button-->
				</div>
			</div>
		</div>
	</div>
</div>