<div class="no-pad">
    <div class="ufpel logo">
        <img src="<%=defaultStaticFileService%>/img/marcas/dms_branco.svg"  alt="Logo da Departamento de Medicina Social da UFPEL">
    </div>
    <div class="unasus logo">
        <img src="<%=defaultStaticFileService%>/img/marcas/unasus_branco.svg"  alt="Logo da Universidade Aberta do Sistema Único de Saúde">
    </div>
    <div class="fiocruz logo">
        <img src="<%=defaultStaticFileService%>/img/marcas/fiocruz_bco.svg"  alt="Logo da Fundação Osvaldo Cruz">
    </div>
    <div class="ms logo">
        <img src="<%=defaultStaticFileService%>/img/marcas/ms_bco.svg"  alt="Logo do Ministério da Saúde">
    </div>
</div>
