<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/screen.css" />
    <script type="text/javascript" data-main="js/app/boot" src="lib/requirejs/require.js"></script>
  </head>
  <body>
  </body>
</html>