<h2 class="titulo-submod">Preveninido as Quedas no Domicílio</h2>
<div class="descricao-quedas">
    <p>Pesquisas mostram que os acidentes domésticos são os mais frequentes e também os mais graves em pessoas da terceira idade, mas com alguns cuidados e adaptações podemos garantir a autonomia dos idosos e permitir que sua rotina permaneça a mais estável possível. Explore os ambientes a seguir, veja os principais aspectos sobre os quais se deve ter atenção em relação ao ambiente para evitar acidentes.</p>
</div>
<div class="">
    <div class="naocair">
        <a href="bib/apoio/prevencao_de_quedas.pdf" >Orientações para prevenção de quedas no ambiente domiciliar</a>
    </div>
</div>
<div class='lista-quedas container-fluid'></div>