<div class="bbm-modal__topbar">
    <div class="bbm-modal__title"><i class="mdi mdi-clipboard-outline" ></i> Enquete de abertura</div>
</div>
<div class="bbm-modal__section">
	<style>
	.optionoutro{
		border: 1px solid rgba(0, 0, 0, 0.1)!important;
	    width: 80%!important;
	    margin-left: 45px!important;
	}
	</style>
    <div class="form form-vertical text-left">
        <div class="form-group" >
			<label for='optionRadios1'>1 - Como você ficou sabendo da oferta deste curso?</label>
		    <div class='radio first'>
			    <label>
			      <input type="radio" name="optionRadios1" id="impresso" value='impresso' > Por um material impresso (cartaz, folder, jornal, etc.)
			    </label>
		    </div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios1" id="portalms" value='portalms'> Pelo portal ou blog vinculado ao Ministério da Saúde
			    </label>
			</div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios1" id="redesocial" value='redesocial'> Por uma rede social (Twitter, Facebook, Linkedin, etc.)
			    </label>
			</div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios1" id="sitebusca" value='sitebusca'> Por um site de busca (Google, Yahoo, etc.)
			    </label>
			</div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios1" id="portalunasus" value='portalunasus'> Pelo portal da UNA-SUS
			    </label>
			</div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios1" id="arouca" value='arouca'> Pela Plataforma Arouca
			    </label>
			</div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios1" id="indicacao" value='indicacao'> Pela indicação de outra pessoa (ex.: um colega, amigo,etc.)
			    </label>
			</div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios1" id="outro" value='outro'> Outro (especifique) 
			    </label>
			</div>
			<div class='form-group'>
				<input type="text"  name="outrooptionRadios1" id="outrooptionRadios1" class='form-control optionoutro' value=''>
			</div>
        </div>
        <h4>2 - Avalie a influência dos seguintes fatores na sua decisão em se matricular neste curso:</h4>
        <div class="form-group" >
			<label>2.1  - Atender a uma recomendação do meu empregador</label>
		    <div class='radio first'>
			    <label>
			      <input type="radio" name="optionRadios21" id="nadaimportante" value='nadaimportante' > Nada importante
			    </label>
		    </div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios21" id="poucoimportante" value='poucoimportante'> Pouco importante
			    </label>
			</div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios21" id="moderadamenteimportante" value='moderadamenteimportante'> Moderadamente importante
			    </label>
			</div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios21" id="muitoimportante" value='muitoimportante'> Muito importante
			    </label>
			</div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios21" id="totalmenteimportante" value='totalmenteimportante'> Totalmente importante
			    </label>
			</div>
        </div>
        <div class="form-group" >
			<label>2.2  - Ampliar ou aprofundar o meu conhecimento no tema</label>
		    <div class='radio first'>
			    <label>
			      <input type="radio" name="optionRadios22" id="nadaimportante" value='nadaimportante' > Nada importante
			    </label>
		    </div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios22" id="poucoimportante" value='poucoimportante'> Pouco importante
			    </label>
			</div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios22" id="moderadamenteimportante" value='moderadamenteimportante'> Moderadamente importante
			    </label>
			</div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios22" id="muitoimportante" value='muitoimportante'> Muito importante
			    </label>
			</div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios22" id="totalmenteimportante" value='totalmenteimportante'> Totalmente importante
			    </label>
			</div>
        </div>
        <div class="form-group" >
			<label>2.3  - Melhorar meu desempenho profissional </label>
		    <div class='radio first'>
			    <label>
			      <input type="radio" name="optionRadios23" id="nadaimportante" value='nadaimportante' > Nada importante
			    </label>
		    </div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios23" id="poucoimportante" value='poucoimportante'> Pouco importante
			    </label>
			</div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios23" id="moderadamenteimportante" value='moderadamenteimportante'> Moderadamente importante
			    </label>
			</div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios23" id="muitoimportante" value='muitoimportante'> Muito importante
			    </label>
			</div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios23" id="totalmenteimportante" value='totalmenteimportante'> Totalmente importante
			    </label>
			</div>
        </div>
        <div class="form-group" >
			<label>2.4  - Adquirir um certificado ou declaração  </label>
		    <div class='radio first'>
			    <label>
			      <input type="radio" name="optionRadios24" id="nadaimportante" value='nadaimportante' > Nada importante
			    </label>
		    </div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios24" id="poucoimportante" value='poucoimportante'> Pouco importante
			    </label>
			</div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios24" id="moderadamenteimportante" value='moderadamenteimportante'> Moderadamente importante
			    </label>
			</div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios24" id="muitoimportante" value='muitoimportante'> Muito importante
			    </label>
			</div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios24" id="totalmenteimportante" value='totalmenteimportante'> Totalmente importante
			    </label>
			</div>
        </div>
        <div class="form-group" >
			<label>2.5  - Resolver um problema com um caso ou situação que estou vivenciando  </label>
		    <div class='radio first'>
			    <label>
			      <input type="radio" name="optionRadios25" id="nadaimportante" value='nadaimportante' > Nada importante
			    </label>
		    </div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios25" id="poucoimportante" value='poucoimportante'> Pouco importante
			    </label>
			</div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios25" id="moderadamenteimportante" value='moderadamenteimportante'> Moderadamente importante
			    </label>
			</div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios25" id="muitoimportante" value='muitoimportante'> Muito importante
			    </label>
			</div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios25" id="totalmenteimportante" value='totalmenteimportante'> Totalmente importante
			    </label>
			</div>
        </div>
        
		<h4>3 - Avalie o quanto você sabe, hoje, sobre o assunto deste curso:</h4>
        <div class="form-group" >
		    <div class='radio-enquete-inline first'>
				<label>Pouco</label>
			</div>
		    <div class='radio-inline radio-enquete-inline'>
			    <label>
			      <input type="radio" name="optionRadios3" id="opt1" value='1'> 1
			    </label>
			</div>
		    <div class='radio-inline radio-enquete-inline'>
			    <label>
			      <input type="radio" name="optionRadios3" id="opt2" value='2'> 2
			    </label>
			</div>
		    <div class='radio-inline radio-enquete-inline'>
			    <label>
			      <input type="radio" name="optionRadios3" id="opt3" value='3'> 3
			    </label>
			</div>
		    <div class='radio-inline radio-enquete-inline'>
			    <label>
			      <input type="radio" name="optionRadios3" id="opt4" value='4'> 4
			    </label>
			</div>
		    <div class='radio-inline radio-enquete-inline'>
			    <label>
			      <input type="radio" name="optionRadios3" id="opt5" value='5'> 5
			    </label>
			</div>
		    <div class='radio-inline radio-enquete-inline'>
			    <label>
			      <input type="radio" name="optionRadios3" id="opt6" value='6'> 6
			    </label>
			</div>
		    <div class='radio-inline radio-enquete-inline'>
			    <label>
			      <input type="radio" name="optionRadios3" id="opt7" value='7'> 7
			    </label>
			</div>
		    <div class='radio-inline radio-enquete-inline'>
			    <label>
			      <input type="radio" name="optionRadios3" id="opt8" value='8'> 8
			    </label>
			</div>
		    <div class='radio-inline radio-enquete-inline'>
			    <label>
			      <input type="radio" name="optionRadios3" id="opt9" value='9'> 9
			    </label>
			</div>
		    <div class='radio-inline radio-enquete-inline'>
			    <label>
			      <input type="radio" name="optionRadios3" id="opt10" value='10' > 10
			    </label>
		    </div>
		    <div class='radio-enquete-inline last'>
				<label>Muito</label>
			</div>
        </div>
			<h4>4 - Qual opção melhor descreve a maneira como você pretende participar deste curso?</h4>
        <div class="form-group" >
		    <div class='radio first'>
			    <label>
			      <input type="radio" name="optionRadios4" id="impresso" value='impresso' > Acessar todo o conteúdo para me certificar.
			    </label>
		    </div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios4" id="portalms" value='portalms'> Acessar todo o conteúdo e, talvez, me certificar.
			    </label>
			</div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios4" id="redesocial" value='redesocial'> Acessar uma parte específica do conteúdo deste curso.
			    </label>
			</div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios4" id="sitebusca" value='sitebusca'> Apenas explorar o conteúdo deste curso.
			    </label>
			</div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios4" id="outro" value='outro'> Outro (Especifique)
			    </label>
			</div>
			<div>
				<input type="text"  name="outrooptionRadios4" id="outrooptionRadios4" class='form-control optionoutro' value=''>  
			</div>
        </div>
    </div>
    <div class="alert" role="alert" ></div>
</div>
<div class="bbm-modal__bottombar" style='margin-bottom: 200px;margin-top: 0px;'>
    <a id='fechar-enquete-cadastro' class="btn btn-danger close-modal pull-left" >Não desejo responder</a>
    <a class="btn btn-success submit-form" >Salvar</a>
</div>