<div class="bbm-modal__topbar">
    <div class="bbm-modal__title"><i class="mdi mdi-clipboard-outline" ></i> Enquete de <%= subtitulo %></div>
</div>
<div class="bbm-modal__section">
	<p style="margin-bottom:20px">
		 Sua opinião sobre nosso módulo de aprendizagem é muito importante para nós, desse modo você irá ajudar a melhora-lo! Por favor responda nossa pesquisa de opnião.
	</p>
	<p  style="margin-bottom:20px">
		Se você desejar pode responder mais tarde, através do menu: <b>Enquetes</b>
	</p>
</div>
<div class="bbm-modal__bottombar" style='margin-bottom: 200px;margin-top: 0px;'>
    <a id='fechar-enquete' class="btn btn-danger close-modal pull-left" >Não desejo responder</a>
    <a id='btn-responder' class="btn btn-success " >Responder</a>
</div>