<!DOCTYPE html>
<html>
  <head>
    <title>Not Found</title>
    <link href="/casca/lib/bootstrap/dist/css/bootstrap.min.css" type="text/css" rel="stylesheet">
  </head>
    <style type='text/css'>
        :root{
           --corpadrao:#3f51b5;
        }
        .navbar-inverse {
            background-color: #3f51b5!important;
        }
        .big-footer{ background-color:  #3f51b5 }
        .mdi-home{ color: inherit!important;margin-bottom: 5px }
    </style>
  <body>
    <header>
    </header>
    <div class='container'>
        <h2>O Módulo que você está tentando acessar não está  disponível! <br> Verifique a url informada e tente novamente.</h2>

    </div>
  </body>
</html>