<style type="text/css">
  .intro-local-ficha-tecnica{
    font-weight:bold;
    font-size: 18px;
  }
  .responsavel-local-ficha-tecnica{
    font-style: italic;
  }
  .sub-titulo-ficha-tecnica-terminal{
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    padding:  10px;
    margin-top: 20px;
  }
  .caixa-ficha-tecnica{
    margin-top: 12px;
  }
  .caixa-ficha-tecnica.software a{
    text-decoration: none;
    color: #333;
  }
  .lista-software{
    padding: 0;
  }
  .software-item{
    list-style: none;
    margin-right: 15px;
    display: inline-block;
  }
  .software-item:last-child{
    margin-right: 0;
  }
  .espaco{
    margin-top: 30px;
  }
</style>
<div class="col-md-12">
  <div class="sub-titulo-ficha-tecnica-terminal">FICHA TÉCNICA</div>
</div>
<div class="col-md-offset-1 col-md-10">
  <div class="text-justify">
    <p><strong>© 2016. Ministério da Saúde. Sistema Universidade Aberta do SUS. Fundação Oswaldo Cruz & Universidade Federal de Pelotas</strong></p>
    <p>Módulo parcialmente composto por revisões e atualizações de casos clínicos originalmente utilizados no Curso de Especialização em Saúde da Família. Alguns direitos reservados. É permitida a reprodução, disseminação e utilização dessa obra, em parte ou em sua totalidade, nos termos da licença para usuário final do Acervo de Recursos Educacionais em Saúde (ARES). Deve ser citada a fonte e é vedada sua utilização comercial.</p>
    <p><em><strong>Referência bibliográfica</strong></em>: Situações Clínicas comuns em Atenção Primária à Saúde. Direção Educacional de Anaclaudia Gastal Fassa e Luiz Augusto Facchini. Especialistas na Temática: Deisi Cardoso Soares, Everton Fantinel, Maria Laura Carrett, Rogério Linhares, Samanta Bastos Maagh. Pelotas:
      <a href="https://dms.ufpel.edu.br/maaps-enf-med#comp/bibliografia" target="_blank">https://dms.ufpel.edu.br/maaps-enf-med#comp/bibliografia</a>.</p>
  </div>
  <div class="caixa-ficha-tecnica">
    <div class="intro-local-ficha-tecnica">Ministério da Saúde</div>
    <div class="responsavel-local-ficha-tecnica">Ricardo José Magalhães Barros</div>
    <div class="cargo-local-ficha-tecnica">Ministro</div>
  </div>
  <div class="caixa-ficha-tecnica">
    <div class="intro-local-ficha-tecnica">Secretaria de Gestão do Trabalho e da Educação na Saúde – SGETS</div>
    <div class="responsavel-local-ficha-tecnica">Rogério Luiz Zeraik Abdalla</div>
    <div class="cargo-local-ficha-tecnica">Secretário</div>
  </div>
  <div class="caixa-ficha-tecnica">
    <div class="intro-local-ficha-tecnica">Secretaria-executiva da Universidade Aberta do SUS – UNA-SUS</div>
    <div class="responsavel-local-ficha-tecnica">Francisco Eduardo de Campos</div>
    <div class="cargo-local-ficha-tecnica">Secretário-executivo</div>
  </div>
  <div class="caixa-ficha-tecnica">
    <div class="intro-local-ficha-tecnica">Fundação Oswaldo Cruz – Fiocruz</div>
    <div class="responsavel-local-ficha-tecnica">Paulo Gadelha</div>
    <div class="cargo-local-ficha-tecnica">Presidente</div>
  </div>
  <div class="caixa-ficha-tecnica">
    <div class="intro-local-ficha-tecnica">Coordenação Geral</div>
    <div class="responsavel-local-ficha-tecnica">Alysson Feliciano Lemos</div>
    <div class="responsavel-local-ficha-tecnica">Vinicius de Araújo de Oliveira</div>
  </div>
  <div class="caixa-ficha-tecnica">
    <div class="intro-local-ficha-tecnica">Universidade Federal de Pelotas</div>
    <div class="responsavel-local-ficha-tecnica">Mauro Augusto Burkert Del Pino</div>
    <div class="cargo-local-ficha-tecnica">Reitor</div>
  </div>
  <div class="caixa-ficha-tecnica">
    <div class="intro-local-ficha-tecnica">Faculdade de Medicina</div>
    <div class="responsavel-local-ficha-tecnica">Vera Silveira</div>
    <div class="cargo-local-ficha-tecnica">Diretora</div>
  </div>
  <div class="caixa-ficha-tecnica">
    <div class="intro-local-ficha-tecnica">Coordenação da UNASUS - Universidade Federal de Pelotas</div>
    <div class="responsavel-local-ficha-tecnica">Luiz Augusto Facchini</div>
    <div class="cargo-local-ficha-tecnica">Coordenador / Coordenador Geral</div>
  </div>
  <div class="sub-titulo-ficha-tecnica-terminal"> RESPONSÁVEIS PELA PRODUÇÃO DE CURSOS</div>
  <div class="caixa-ficha-tecnica">
    <div class="intro-local-ficha-tecnica">Coordenador Geral</div>
    <div class="responsavel-local-ficha-tecnica">Luiz Augusto Facchini</div>
  </div>
  <div class="caixa-ficha-tecnica">
    <div class="intro-local-ficha-tecnica">Coordenador Acadêmico (relacionado à temática)</div>
    <div class="responsavel-local-ficha-tecnica">Everton Fantinel (medicina) e Deisi Cardoso Soares (enfermagem)</div>
  </div>
  <div class="caixa-ficha-tecnica">
    <div class="intro-local-ficha-tecnica">Coordenador de Produção</div>
    <div class="responsavel-local-ficha-tecnica">Anaclaudia Gastal Fassa</div>
  </div>
  <div class="caixa-ficha-tecnica">
    <div class="intro-local-ficha-tecnica">Conteudista - Medicina</div>
    <div class="responsavel-local-ficha-tecnica">Bárbara Heather Lutz, Denise Silva da Silveira, Eduardo Dickie de Castilhos, Everton José Fantinel, Helena Barreto dos Santos, João André S. de Oliveira, José Silveira, Luciana de Rezende Pinto, Marcelo Fernandes Capilheira, Maria Laura Vidal Carrett, Marília Leão Goettems, Mauri Caldeira Reis, Michel Cerioli Giraldi, Rogério da Silva Linhares</div>
  </div>
  <div class="caixa-ficha-tecnica">
    <div class="intro-local-ficha-tecnica">Conteudista - Enfermagem</div>
    <div class="responsavel-local-ficha-tecnica">Adriana Roese, Alessandro Marques dos Santos, Ana Amália Pereira Torres, Ariane da Cruz Guedes, Caroline de Leon Linck, Deisi Cardoso Soares, Diana Cecagno, Elisiane Bisognin, Fernanda Sant'Ana Tristão, Jandro Moraes Cortes, José Adailton da Silva, Louriele Soares Wachs, Mariangela Uhlmann Soares, Mateus Casanova, Milena Hohmann Antonacci, Norlai Alves Azevedo, Patrícia Tuerlinckx Noguez, Roberta Antunes Machado, Samanta Bastos Maagh, Seiko Nomiyama, Sidnéia Tessmer Casarin, Teila Ceolin</div>
  </div>
  <div class="caixa-ficha-tecnica">
    <div class="intro-local-ficha-tecnica">Conteudista - Multiprofissional</div>
    <div class="responsavel-local-ficha-tecnica">Andrea Bandeira, Camila Oliveira Orlandini, Cristyan Cesar Dall Agnol, Denise Bermudez Pereira, Denise Vaz de Mattos, Elenir Terezinha Rizzetti Anversa, Ernande Valentin do Prado, Fabiana Breitenbach, Letícia Becker Vieira, Letícia Maria Eidt, Marcinia Moreno Bueno, Maria Ignez Araujo da Silva, Nádia Spada Fiori, Paulo Cezar de Moraes, Susana Cecagno, Thiago Marchi Martins</div>
  </div>
  <div class="caixa-ficha-tecnica">
    <div class="intro-local-ficha-tecnica">Revisor Técnico-científico (relacionado à temática)</div>
    <div class="responsavel-local-ficha-tecnica">Deisi Cardoso Soares, Everton Fantinel, Maria Laura Carret, Rogério Linhares, Samanta Maagh</div>
  </div>
  <div class="caixa-ficha-tecnica">
    <div class="intro-local-ficha-tecnica">Desenhista Instrucional</div>
    <div class="responsavel-local-ficha-tecnica">Anaclaudia Gastal Fassa</div>
  </div>
  <div class="caixa-ficha-tecnica">
    <div class="intro-local-ficha-tecnica">Designer Gráfico / Web designer</div>
    <div class="responsavel-local-ficha-tecnica">Adrian Neuhaus</div>
  </div>
  <div class="caixa-ficha-tecnica">
    <div class="intro-local-ficha-tecnica">Ilustrador de EaD</div>
    <div class="responsavel-local-ficha-tecnica">Bruna das Neves</div>
  </div>
  <div class="caixa-ficha-tecnica">
    <div class="intro-local-ficha-tecnica">Desenvolvedor / Desenvolvedor web / Programador</div>
    <div class="responsavel-local-ficha-tecnica">Adrian Neuhaus, Gabriel Menezes</div>
  </div>
  <div class="caixa-ficha-tecnica">
    <div class="intro-local-ficha-tecnica">Catalogação dos Materiais Educacionais e Documentação</div>
    <div class="responsavel-local-ficha-tecnica">Sabrina Andrade</div>
  </div>
  <div class="sub-titulo-ficha-tecnica-terminal">RESPONSÁVEIS PELA PRODUÇÃO DE TI</div>
  <div class="caixa-ficha-tecnica">
    <div class="intro-local-ficha-tecnica">Engenheiro de Software</div>
    <div class="responsavel-local-ficha-tecnica">Alessander Osório</div>
    <div class="responsavel-local-ficha-tecnica">Adrian Neuhaus</div>
  </div>
  <div class="caixa-ficha-tecnica">
    <div class="intro-local-ficha-tecnica">Arquiteto de Software</div>
    <div class="responsavel-local-ficha-tecnica">Alessander Osório</div>
  </div>
  <div class="sub-titulo-ficha-tecnica-terminal">RESPONSÁVEIS PELA PRODUÇÃO DE VÍDEOS</div>
  <div class="caixa-ficha-tecnica">
    <div class="intro-local-ficha-tecnica">Diretor de Audiovisual</div>
    <div class="responsavel-local-ficha-tecnica">Felipe Campal</div>
  </div>
  <div class="caixa-ficha-tecnica">
    <div class="intro-local-ficha-tecnica">Roteirista de Audiovisual</div>
    <div class="responsavel-local-ficha-tecnica">Anaclaudia Gastal Fassa</div>
    <div class="responsavel-local-ficha-tecnica">Jardel Vacheliski</div>
  </div>
  <div class="caixa-ficha-tecnica">
    <div class="intro-local-ficha-tecnica">Editor de Audiovisual</div>
    <div class="responsavel-local-ficha-tecnica">Felipe Campal</div>
    <div class="responsavel-local-ficha-tecnica">Thiago Rodeghiero</div>
  </div>
  <div class="caixa-ficha-tecnica">
    <div class="intro-local-ficha-tecnica">Produtor de áudio </div>
    <div class="responsavel-local-ficha-tecnica">Felipe Campal</div>
  </div>
  <div class="caixa-ficha-tecnica">
    <div class="intro-local-ficha-tecnica">Direção de Arte</div>
    <div class="responsavel-local-ficha-tecnica">Bruna das Neves</div>
  </div>
  <div class="sub-titulo-ficha-tecnica-terminal">CRÉDITOS DE SOFTWARE</div>
  <div class="caixa-ficha-tecnica software">
    <ul class="lista-software">
      <li class="software-item"><a target="_blank" href="https://nodejs.org/en/">Node</a></li>
      <li class="software-item"><a target="_blank" href="http://www.mongodb.org/">MongoDB</a></li>
      <li class="software-item"><a target="_blank" href="http://locomotivejs.org/">Locomotive</a></li>
      <li class="software-item"><a target="_blank" href="http://mongoosejs.com/">Mongoose&nbsp;ODM</a></li>
      <li class="software-item"><a target="_blank" href="http://lesscss.org/">Less</a></li>
      <li class="software-item"><a target="_blank" href="http://jquery.com/">jQuery</a></li>
      <li class="software-item"><a target="_blank" href="http://lodash.com/">Lo&#8209;Dash</a></li>
      <li class="software-item"><a target="_blank" href="http://github.com/caolan/async/">Async</a></li>
      <li class="software-item"><a target="_blank" href="http://backbonejs.org/">Backbone</a></li>
      <li class="software-item"><a target="_blank" href="http://marionettejs.com/">Marionette</a></li>
      <li class="software-item"><a target="_blank" href="http://getbootstrap.com/">Twitter&nbsp;Bootstrap</a></li>
      <li class="software-item"><a target="_blank" href="http://design.google.com/icons/">Google&nbsp;Material&nbsp;icons</a></li>
      <li class="software-item"><a target="_blank" href="http://materialdesignicons.com/">Material Design Icons</a></li>
    </ul>
  </div>
  <div class="espaco"> </div>
  <div class="espaco"> </div>
  <!-- FIM caixa geral-->
</div>