
<div class="bbm-modal__topbar">
  <div class="bbm-modal__title">
    <h3>Sair do APP</h3>
  </div>
</div>
<div class="bbm-modal__section">
  <div class='row' style="padding: 20px;">
    <%= msg %>
  </div>
</div>
<div class="bbm-modal__bottombar">
  <a href="#" class="bbm-button close-modal" >Fechar</a>
</div>
