<div class="bbm-modal__topbar">
    <div class="bbm-modal__title"><i class="mdi mdi-clipboard-outline" ></i> Enquete de conclusão</div>
</div>

<div class="bbm-modal__section">
	<div class="form form-vertical text-left">
		<h4>1 - Sobre seu aprendizado neste curso, assinale qual das alternativas melhor representa sua opinião.</h4>
        <div class="form-group" >
        	<label>1.1 Estou satisfeito com o quanto aprendi sobre o conteúdo</label>
        	<div class='radio first'>
			    <label>
			      <input type="radio" name="optionRadios11" id="concordofortemente" value='concordofortemente' > Concordo fortemente
			    </label>
		    </div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios11" id="concordo" value='concordo'> Concordo
			    </label>
			</div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios11" id="nemconcordonemdiscordoimportante" value='nemconcordonemdiscordoimportante'> Nem concordo nem discordo
			    </label>
			</div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios11" id="discordo" value='discordo'> Discordo
			    </label>
			</div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios11" id="discordofortemente" value='discordofortemente'> Discordo fortemente
			    </label>
			</div>
		</div>
		<div class="form-group" >
        	<label>1.2 Sinto-me mais preparado para lidar no meu trabalho com</label>
        	<div class='radio first'>
			    <label>
			      <input type="radio" name="optionRadios12" id="concordofortemente" value='concordofortemente' > Concordo fortemente
			    </label>
		    </div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios12" id="concordo" value='concordo'> Concordo
			    </label>
			</div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios12" id="nemconcordonemdiscordoimportante" value='nemconcordonemdiscordoimportante'> Nem concordo nem discordo
			    </label>
			</div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios12" id="discordo" value='discordo'> Discordo
			    </label>
			</div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios12" id="discordofortemente" value='discordofortemente'> Discordo fortemente
			    </label>
			</div>
     	</div>
     	<div class="form-group" >
        	<label>1.3 as atividades relacionadas ao conteúdo apresentado</label>
        	<div class='radio first'>
			    <label>
			      <input type="radio" name="optionRadios13" id="concordofortemente" value='concordofortemente' > Concordo fortemente
			    </label>
		    </div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios13" id="concordo" value='concordo'> Concordo
			    </label>
			</div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios13" id="nemconcordonemdiscordoimportante" value='nemconcordonemdiscordoimportante'> Nem concordo nem discordo
			    </label>
			</div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios13" id="discordo" value='discordo'> Discordo
			    </label>
			</div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios13" id="discordofortemente" value='discordofortemente'> Discordo fortemente
			    </label>
			</div>
     	</div>
     	<h4>2 - De qual lugar você mais acessou este curso?</h4>
     	<div class="form-group" >
     		<div class='radio first'>
			    <label>
			      <input type="radio" name="optionRadios2" id="naohouvelugar" value='naohouvelugar' > Não houve um lugar que eu utilizei mais
			    </label>
		    </div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios2" id="notransporte" value='notransporte'> No transporte, enquanto me deslocava
			    </label>
			</div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios2" id="lugarpublico" value='lugarpublico'> Em um lugar público (biblioteca, lan house, em uma praça, etc.)
			    </label>
			</div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios2" id="localdetrabalho" value='localdetrabalho'> No meu local de trabalho
			    </label>
			</div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios2" id="ondeestudo" value='ondeestudo'> Na instituição onde eu estudo (p.ex. universidade)
			    </label>
			</div>
			<div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios2" id="casaouhospedagem" value='casaouhospedagem'> Em casa ou onde eu estive hospedado
			    </label>
			</div>
     		<div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios2" id="outro" value='outro'> Outro (especifique) 
			    </label>
			</div>
			<input type="text"  name="outrooptionRadios2" id="outrooptionRadios2" class='form-control optionoutro'  value=''> 
     	</div>
     	<h4>3 - Durante a realização do curso a minha realidade foi:</h4>
        <div class="form-group" >
        	<label>3.1 Tive dificuldades técnicas com o computador, celular, tablet ou de acesso à internet</label>
        	<div class='radio first'>
			    <label>
			      <input type="radio" name="optionRadios31" id="concordofortemente" value='concordofortemente' > Concordo fortemente
			    </label>
		    </div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios31" id="concordo" value='concordo'> Concordo
			    </label>
			</div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios31" id="nemconcordonemdiscordoimportante" value='nemconcordonemdiscordoimportante'> Nem concordo nem discordo
			    </label>
			</div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios31" id="discordo" value='discordo'> Discordo
			    </label>
			</div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios31" id="discordofortemente" value='discordofortemente'> Discordo fortemente
			    </label>
			</div>
     	</div>
     	<div class="form-group" >
        	<label>3.2 O certificado não era importante para mim </label>
        	<div class='radio first'>
			    <label>
			      <input type="radio" name="optionRadios32" id="concordofortemente" value='concordofortemente' > Concordo fortemente
			    </label>
		    </div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios32" id="concordo" value='concordo'> Concordo
			    </label>
			</div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios32" id="nemconcordonemdiscordoimportante" value='nemconcordonemdiscordoimportante'> Nem concordo nem discordo
			    </label>
			</div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios32" id="discordo" value='discordo'> Discordo
			    </label>
			</div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios32" id="discordofortemente" value='discordofortemente'> Discordo fortemente
			    </label>
			</div>
     	</div>
     	<div class="form-group" >
        	<label>3.3 Tive dificuldade de navegar no curso </label>
        	<div class='radio first'>
			    <label>
			      <input type="radio" name="optionRadios33" id="concordofortemente" value='concordofortemente' > Concordo fortemente
			    </label>
		    </div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios33" id="concordo" value='concordo'> Concordo
			    </label>
			</div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios33" id="nemconcordonemdiscordoimportante" value='nemconcordonemdiscordoimportante'> Nem concordo nem discordo
			    </label>
			</div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios33" id="discordo" value='discordo'> Discordo
			    </label>
			</div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios33" id="discordofortemente" value='discordofortemente'> Discordo fortemente
			    </label>
			</div>
     	</div>
     	<div class="form-group" >
        	<label>3.4 Percebi que o curso abordou somente conteúdos que eu já sabia  </label>
        	<div class='radio first'>
			    <label>
			      <input type="radio" name="optionRadios34" id="concordofortemente" value='concordofortemente' > Concordo fortemente
			    </label>
		    </div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios34" id="concordo" value='concordo'> Concordo
			    </label>
			</div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios34" id="nemconcordonemdiscordoimportante" value='nemconcordonemdiscordoimportante'> Nem concordo nem discordo
			    </label>
			</div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios34" id="discordo" value='discordo'> Discordo
			    </label>
			</div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios34" id="discordofortemente" value='discordofortemente'> Discordo fortemente
			    </label>
			</div>
     	</div>
     	<div class="form-group" >
        	<label>3.5 Percebi que não tinha conhecimentos prévios para realizar o curso </label>
        	<div class='radio first'>
			    <label>
			      <input type="radio" name="optionRadios35" id="concordofortemente" value='concordofortemente' > Concordo fortemente
			    </label>
		    </div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios35" id="concordo" value='concordo'> Concordo
			    </label>
			</div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios35" id="nemconcordonemdiscordoimportante" value='nemconcordonemdiscordoimportante'> Nem concordo nem discordo
			    </label>
			</div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios35" id="discordo" value='discordo'> Discordo
			    </label>
			</div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios35" id="discordofortemente" value='discordofortemente'> Discordo fortemente
			    </label>
			</div>
     	</div>
     	<div class="form-group" >
        	<label>3.6 Motivos pessoais comprometeram a minha participação</label>
        	<div class='radio first'>
			    <label>
			      <input type="radio" name="optionRadios36" id="concordofortemente" value='concordofortemente' > Concordo fortemente
			    </label>
		    </div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios36" id="concordo" value='concordo'> Concordo
			    </label>
			</div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios36" id="nemconcordonemdiscordoimportante" value='nemconcordonemdiscordoimportante'> Nem concordo nem discordo
			    </label>
			</div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios36" id="discordo" value='discordo'> Discordo
			    </label>
			</div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios36" id="discordofortemente" value='discordofortemente'> Discordo fortemente
			    </label>
			</div>
     	</div>
     	<div class="form-group" >
        	<label>3.7 Atividades de trabalho comprometeram a minha participação </label>
        	<div class='radio first'>
			    <label>
			      <input type="radio" name="optionRadios37" id="concordofortemente" value='concordofortemente' > Concordo fortemente
			    </label>
		    </div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios37" id="concordo" value='concordo'> Concordo
			    </label>
			</div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios37" id="nemconcordonemdiscordoimportante" value='nemconcordonemdiscordoimportante'> Nem concordo nem discordo
			    </label>
			</div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios37" id="discordo" value='discordo'> Discordo
			    </label>
			</div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios37" id="discordofortemente" value='discordofortemente'> Discordo fortemente
			    </label>
			</div>
     	</div>
     	<div class="form-group" >
        	<label>3.8 Outras atividades de estudo comprometeram a minha participação  </label>
        	<div class='radio first'>
			    <label>
			      <input type="radio" name="optionRadios38" id="concordofortemente" value='concordofortemente' > Concordo fortemente
			    </label>
		    </div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios38" id="concordo" value='concordo'> Concordo
			    </label>
			</div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios38" id="nemconcordonemdiscordoimportante" value='nemconcordonemdiscordoimportante'> Nem concordo nem discordo
			    </label>
			</div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios38" id="discordo" value='discordo'> Discordo
			    </label>
			</div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios38" id="discordofortemente" value='discordofortemente'> Discordo fortemente
			    </label>
			</div>
     	</div>
     	<h4>4 - Avalie a qualidade dos seguintes aspectos do curso:</h4>
        <div class="form-group" >
        	<label>4.1 Recursos multimídia (vídeos, áudios e animações)</label>
        	<div class='radio first'>
			    <label>
			      <input type="radio" name="optionRadios41" id="muitobom" value='muitobom' > Muito bom
			    </label>
		    </div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios41" id="bom" value='bom'> Bom
			    </label>
			</div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios41" id="medio" value='medio'> Médio
			    </label>
			</div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios41" id="ruim" value='ruim'> Ruim
			    </label>
			</div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios41" id="muitoruim" value='muitoruim'> Muito Ruim
			    </label>
			</div>
     	</div>
     	<div class="form-group" >
        	<label>4.2 Layout e design do ambiente do curso</label>
        	<div class='radio first'>
			    <label>
			      <input type="radio" name="optionRadios42" id="muitobom" value='muitobom' > Muito bom
			    </label>
		    </div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios42" id="bom" value='bom'> Bom
			    </label>
			</div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios42" id="medio" value='medio'> Médio
			    </label>
			</div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios42" id="ruim" value='ruim'> Ruim
			    </label>
			</div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios42" id="muitoruim" value='muitoruim'> Muito Ruim
			    </label>
			</div>
     	</div>
     	<div class="form-group" >
        	<label>4.3 Navegabilidade no ambiente do curso</label>
        	<div class='radio first'>
			    <label>
			      <input type="radio" name="optionRadios43" id="muitobom" value='muitobom' > Muito bom
			    </label>
		    </div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios43" id="bom" value='bom'> Bom
			    </label>
			</div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios43" id="medio" value='medio'> Médio
			    </label>
			</div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios43" id="ruim" value='ruim'> Ruim
			    </label>
			</div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios43" id="muitoruim" value='muitoruim'> Muito Ruim
			    </label>
			</div>
     	</div>
     	<div class="form-group" >
        	<label>4.4 Forma de apresentação do conteúdo</label>
        	<div class='radio first'>
			    <label>
			      <input type="radio" name="optionRadios44" id="muitobom" value='muitobom' > Muito bom
			    </label>
		    </div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios44" id="bom" value='bom'> Bom
			    </label>
			</div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios44" id="medio" value='medio'> Médio
			    </label>
			</div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios44" id="ruim" value='ruim'> Ruim
			    </label>
			</div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios44" id="muitoruim" value='muitoruim'> Muito Ruim
			    </label>
			</div>
     	</div>
     	<div class="form-group" >
        	<label>4.5 Adequação do conteúdo do curso às minhas expectativas de aprendizagem</label>
        	<div class='radio first'>
			    <label>
			      <input type="radio" name="optionRadios45" id="muitobom" value='muitobom' > Muito bom
			    </label>
		    </div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios45" id="bom" value='bom'> Bom
			    </label>
			</div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios45" id="medio" value='medio'> Médio
			    </label>
			</div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios45" id="ruim" value='ruim'> Ruim
			    </label>
			</div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios45" id="muitoruim" value='muitoruim'> Muito Ruim
			    </label>
			</div>
     	</div>
     	<h4>5 - Avalie o quanto você sabe, hoje, sobre o assunto deste curso.</h4>
        <div class="form-group" >
            <div class='radio-enquete-inline first'>
    			<label>Pouco</label>
            </div>
		    <div class='radio-inline radio-enquete-inline'>
			    <label>
			      <input type="radio" name="optionRadios5" id="opt1" value='opt1'> 1
			    </label>
			</div>
		    <div class='radio-inline radio-enquete-inline'>
			    <label>
			      <input type="radio" name="optionRadios5" id="opt2" value='opt2'> 2
			    </label>
			</div>
		    <div class='radio-inline radio-enquete-inline'>
			    <label>
			      <input type="radio" name="optionRadios5" id="opt3" value='opt3'> 3
			    </label>
			</div>
		    <div class='radio-inline radio-enquete-inline'>
			    <label>
			      <input type="radio" name="optionRadios5" id="opt4" value='opt4'> 4
			    </label>
			</div>
		    <div class='radio-inline radio-enquete-inline'>
			    <label>
			      <input type="radio" name="optionRadios5" id="opt5" value='opt5'> 5
			    </label>
			</div>
		    <div class='radio-inline radio-enquete-inline'>
			    <label>
			      <input type="radio" name="optionRadios5" id="opt6" value='opt6'> 6
			    </label>
			</div>
		    <div class='radio-inline radio-enquete-inline'>
			    <label>
			      <input type="radio" name="optionRadios5" id="opt7" value='opt7'> 7
			    </label>
			</div>
		    <div class='radio-inline radio-enquete-inline'>
			    <label>
			      <input type="radio" name="optionRadios5" id="opt8" value='opt8'> 8
			    </label>
			</div>
		    <div class='radio-inline radio-enquete-inline'>
			    <label>
			      <input type="radio" name="optionRadios5" id="opt9" value='opt9'> 9
			    </label>
			</div>
		    <div class='radio-inline radio-enquete-inline'>
			    <label>
			      <input type="radio" name="optionRadios5" id="opt10" value='opt10' > 10
			    </label>
		    </div>
            <div class='radio-enquete-inline last'>
    			<label>Muito</label>
            </div>
        </div>
        <h4>6 - De forma geral, como você avalia este curso?</h4>
        <div class="form-group" >
		    <div class='radio first'>
			    <label>
			      <input type="radio" name="optionRadios6" id="muitobom" value='muitobom' > Muito bom
			    </label>
		    </div>
		    <div class='radio first'>
			    <label>
			      <input type="radio" name="optionRadios6" id="bom" value='bom' > Bom
			    </label>
		    </div>
		    <div class='radio first'>
			    <label>
			      <input type="radio" name="optionRadios6" id="medio" value='medio' > Médio
			    </label>
		    </div>
		    <div class='radio first'>
			    <label>
			      <input type="radio" name="optionRadios6" id="ruim" value='ruim' > Ruim
			    </label>
		    </div>
		    <div class='radio first'>
			    <label>
			      <input type="radio" name="optionRadios6" id="muitoruim" value='muitoruim' > Muito ruim
			    </label>
		    </div>    
        </div>
        <h4>7 - Qual seria a probabilidade de você:</h4>
        <div class="form-group" >
        	<label>7.1 Se matricular em outro curso da UNA-SUS</label>
        	<div class='radio first'>
			    <label>
			      <input type="radio" name="optionRadios71" id="altamenteprovavel" value='altamenteprovavel' > Altamente provável
			    </label>
		    </div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios71" id="provavel" value='provavel'> Provável
			    </label>
			</div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios71" id="neutro" value='neutro'> Neutro
			    </label>
			</div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios71" id="improvavel" value='improvavel'> Improvável
			    </label>
			</div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios71" id="altamenteimprovavel" value='altamenteimprovavel'> Altamente improvável
			    </label>
			</div>
     	</div>
     	<div class="form-group" >
        	<label>7.2 Rever os materiais deste curso no nosso repositório digital(ARES)</label>
        	<div class='radio first'>
			    <label>
			      <input type="radio" name="optionRadios72" id="altamenteprovavel" value='altamenteprovavel' > Altamente provável
			    </label>
		    </div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios72" id="provavel" value='provavel'> Provável
			    </label>
			</div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios72" id="neutro" value='neutro'> Neutro
			    </label>
			</div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios72" id="improvavel" value='improvavel'> Improvável
			    </label>
			</div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios72" id="altamenteimprovavel" value='altamenteimprovavel'> Altamente improvável
			    </label>
			</div>
     	</div>
     	<div class="form-group" >
        	<label>7.3 Recomendar este curso a outra pessoa</label>
        	<div class='radio first'>
			    <label>
			      <input type="radio" name="optionRadios73" id="altamenteprovavel" value='altamenteprovavel' > Altamente provável
			    </label>
		    </div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios73" id="provavel" value='provavel'> Provável
			    </label>
			</div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios73" id="neutro" value='neutro'> Neutro
			    </label>
			</div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios73" id="improvavel" value='improvavel'> Improvável
			    </label>
			</div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios73" id="altamenteimprovavel" value='altamenteimprovavel'> Altamente improvável
			    </label>
			</div>
     	</div>
     </div> 
    <div class="alert" role="alert" ></div>
</div>

<div class="bbm-modal__bottombar" style='margin-bottom: 200px;margin-top: 0px;'>
    <a id='fechar-enquete-conclusao' class="btn btn-danger close-modal pull-left" >Não desejo responder</a>
    <a class="btn btn-success submit-form" >Salvar</a>
</div>