<div class="bbm-modal__topbar">
    <div class="bbm-modal__title"><i class="mdi mdi-clipboard-outline" ></i> Enquete de Encerramento</div>
</div>

<div class="bbm-modal__section">
	<div class="form form-vertical text-left">
		<div class="form-group">
			<label for="inputCpf">CPF</label>
			<input type="text" class="form-control" name='inputCpf' id="inputCpf" maxlength='11' placeholder="CPF">
		</div>
		<h4>1 - Dos fatores listados, avalie:</h4>
        <div class="form-group">
        	<label>1.1 Percebi que não tinha conhecimentos prévios para fazer o curso </label>
        	<div class='radio first'>
			    <label>
			      <input type="radio" name="optionRadios11" id="discordofortemente" value='discordofortemente'> Discordo fortemente
			    </label>
		    </div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios11" id="discordo" value='discordo'> Discordo
			    </label>
			</div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios11" id="nemconcordonemdiscordoimportante" value='nemconcordonemdiscordoimportante'> Nem concordo nem discordo
			    </label>
			</div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios11" id="concordo" value='concordo'> Concordo
			    </label>
			</div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios11" id="concordofortemente" value='concordofortemente' > Concordo fortemente
			    </label>
			</div>
			<div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios11" id="na" value='na' > N/A
			    </label>
			</div>
		</div>
		<div class="form-group" >
        	<label>1.2 Percebi que o curso abordou somente conteúdos que eu já sabia </label>
        	<div class='radio first'>
			    <label>
			      <input type="radio" name="optionRadios12" id="discordofortemente" value='discordofortemente'> Discordo fortemente
			    </label>
		    </div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios12" id="discordo" value='discordo'> Discordo
			    </label>
			</div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios12" id="nemconcordonemdiscordoimportante" value='nemconcordonemdiscordoimportante'> Nem concordo nem discordo
			    </label>
			</div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios12" id="concordo" value='concordo'> Concordo
			    </label>
			</div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios12" id="concordofortemente" value='concordofortemente' > Concordo fortemente
			    </label>
			</div>
			<div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios12" id="na" value='na' > N/A
			    </label>
			</div>
		</div>
		<div class="form-group" >
        	<label>1.3 Tive dificuldade para navegar no curso  </label>
        	<div class='radio first'>
			    <label>
			      <input type="radio" name="optionRadios13" id="discordofortemente" value='discordofortemente'> Discordo fortemente
			    </label>
		    </div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios13" id="discordo" value='discordo'> Discordo
			    </label>
			</div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios13" id="nemconcordonemdiscordoimportante" value='nemconcordonemdiscordoimportante'> Nem concordo nem discordo
			    </label>
			</div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios13" id="concordo" value='concordo'> Concordo
			    </label>
			</div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios13" id="concordofortemente" value='concordofortemente' > Concordo fortemente
			    </label>
			</div>
			<div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios13" id="na" value='na' > N/A
			    </label>
			</div>
		</div>
		<div class="form-group" >
        	<label>1.4 O certificado não era importante para mim  </label>
        	<div class='radio first'>
			    <label>
			      <input type="radio" name="optionRadios14" id="discordofortemente" value='discordofortemente'> Discordo fortemente
			    </label>
		    </div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios14" id="discordo" value='discordo'> Discordo
			    </label>
			</div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios14" id="nemconcordonemdiscordoimportante" value='nemconcordonemdiscordoimportante'> Nem concordo nem discordo
			    </label>
			</div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios14" id="concordo" value='concordo'> Concordo
			    </label>
			</div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios14" id="concordofortemente" value='concordofortemente' > Concordo fortemente
			    </label>
			</div>
			<div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios14" id="na" value='na' > N/A
			    </label>
			</div>
		</div>
		<div class="form-group" >
        	<label>1.5 Outras atividades de estudo comprometeram a conclusão do curso  </label>
        	<div class='radio first'>
			    <label>
			      <input type="radio" name="optionRadios15" id="discordofortemente" value='discordofortemente'> Discordo fortemente
			    </label>
		    </div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios15" id="discordo" value='discordo'> Discordo
			    </label>
			</div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios15" id="nemconcordonemdiscordoimportante" value='nemconcordonemdiscordoimportante'> Nem concordo nem discordo
			    </label>
			</div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios15" id="concordo" value='concordo'> Concordo
			    </label>
			</div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios15" id="concordofortemente" value='concordofortemente' > Concordo fortemente
			    </label>
			</div>
			<div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios15" id="na" value='na' > N/A
			    </label>
			</div>
		</div>
		<div class="form-group" >
        	<label>1.6 Atividades de trabalho comprometeram a conclusão do curso  </label>
        	<div class='radio first'>
			    <label>
			      <input type="radio" name="optionRadios16" id="discordofortemente" value='discordofortemente'> Discordo fortemente
			    </label>
		    </div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios16" id="discordo" value='discordo'> Discordo
			    </label>
			</div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios16" id="nemconcordonemdiscordoimportante" value='nemconcordonemdiscordoimportante'> Nem concordo nem discordo
			    </label>
			</div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios16" id="concordo" value='concordo'> Concordo
			    </label>
			</div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios16" id="concordofortemente" value='concordofortemente' > Concordo fortemente
			    </label>
			</div>
			<div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios16" id="na" value='na' > N/A
			    </label>
			</div>
		</div>
		<div class="form-group" >
        	<label>1.7 Motivos pessoais comprometeram a conclusão do curso </label>
        	<div class='radio first'>
			    <label>
			      <input type="radio" name="optionRadios17" id="discordofortemente" value='discordofortemente'> Discordo fortemente
			    </label>
		    </div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios17" id="discordo" value='discordo'> Discordo
			    </label>
			</div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios17" id="nemconcordonemdiscordoimportante" value='nemconcordonemdiscordoimportante'> Nem concordo nem discordo
			    </label>
			</div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios17" id="concordo" value='concordo'> Concordo
			    </label>
			</div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios17" id="concordofortemente" value='concordofortemente' > Concordo fortemente
			    </label>
			</div>
			<div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios17" id="na" value='na' > N/A
			    </label>
			</div>
		</div>
		<div class="form-group" >
        	<label>1.8 Tive dificuldades técnicas com o computador, celular, tablet ou de acesso à internet   </label>
        	<div class='radio first'>
			    <label>
			      <input type="radio" name="optionRadios18" id="discordofortemente" value='discordofortemente'> Discordo fortemente
			    </label>
		    </div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios18" id="discordo" value='discordo'> Discordo
			    </label>
			</div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios18" id="nemconcordonemdiscordoimportante" value='nemconcordonemdiscordoimportante'> Nem concordo nem discordo
			    </label>
			</div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios18" id="concordo" value='concordo'> Concordo
			    </label>
			</div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios18" id="concordofortemente" value='concordofortemente' > Concordo fortemente
			    </label>
			</div>
			<div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios18" id="na" value='na' > N/A
			    </label>
			</div>
		</div>
		<h4>2 - Marque as três principais causas para NÃO conclusão do curso.</h4>
        <div class="form-group">
        	<div class='checkbox first'>
			    <label>
			      <input type="checkbox" name="optioncheckbox21" id="outraatividades" value='outraatividades'> Outras atividades de estudo
			    </label>
		    </div>
		    <div class='checkbox'>
			    <label>
			      <input type="checkbox" name="optioncheckbox22" id="atividadesdetrabalho" value='atividadesdetrabalho'> Atividades de trabalho
			    </label>
			</div>
		    <div class='checkbox'>
			    <label>
			      <input type="checkbox" name="optioncheckbox23" id="motivospessoais" value='motivospessoais'> Motivos pessoais
			    </label>
			</div>
		    <div class='checkbox'>
			    <label>
			      <input type="checkbox" name="optioncheckbox24" id="naotinhaconhecimentoprevio" value='naotinhaconhecimentoprevio'> Percebi que não tinha conhecimentos prévios para fazer o curso
			    </label>
			</div>
		    <div class='checkbox'>
			    <label>
			      <input type="checkbox" name="optioncheckbox25" id="eujasabia" value='eujasabia' > Percebi que o curso abordou somente conteúdos que eu já sabia 
			    </label>
			</div>
			<div class='checkbox'>
			    <label>
			      <input type="checkbox" name="optioncheckbox26" id="dificuldadenavegar" value='dificuldadenavegar' > Tive dificuldade para navegar no curso
			    </label>
			</div>
			<div class='checkbox'>
			    <label>
			      <input type="checkbox" name="optioncheckbox27" id="naoeraimportantepramim" value='naoeraimportantepramim' > O certificado não era importante para mim
			    </label>
			</div>
			<div class='checkbox'>
			    <label>
			      <input type="checkbox" name="optioncheckbox28" id="dificuldadestecnicas" value='dificuldadestecnicas' > Tive dificuldades técnicas com o computador, celular, tablet ou de acesso à internet
			    </label>
			</div>
		</div>
		<h4>3 - Você visitou algum conteúdo no curso?</h4>
		<div class="form-group">
        	<div class='radio first'>
			    <label>
			      <input type="radio" name="optionRadios3" id="optionRadios3Sim" value='sim'> Sim
			    </label>
		    </div>
		    <div class='radio'>
			    <label>
			      <input type="radio" name="optionRadios3" id="optionRadios3Nao" value='nao'> Não
			    </label>
			</div>
		</div>
    </div> 
    <div class="alert" role="alert" ></div>
</div>

<div class="bbm-modal__bottombar" style='margin-bottom: 200px;margin-top: 0px;'>
    <a id='fechar-enquete-encerramento' class="btn btn-danger close-modal pull-left" >Fechar</a>
    <a class="btn btn-success submit-form" >Salvar</a>
</div>