.enf-med-main .title{
    text-align: center;
    font-size: 36px;
    color:var(--corpadrao);
}
.enf-med-main .sub-title{
    text-align: center;
    font-size: 18px;
    color: #8c8c8c;
}
.enf-med-main .cabecalho{
    margin-bottom: 10px;
}
.enf-med-main .inscricoes{
    /*background-color: #c8c8c8;*/
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 6px rgba(0, 0, 0, 0.12);
}
.enf-med-main .inscricoes-item{
    margin-bottom: 20px;
    padding-top: 20px;
}
.enf-med-main .checkbox, .radio {
    margin-top: 0px; 
    margin-bottom: 0px;
}
.enf-med-main .container-titulo{
    padding: 10px 0px;
    margin-bottom: 10px;
}
.enf-med-main .introducao{
    padding: 10px 0px;
    margin-bottom: 20px;
}
.enf-med-main .introducao .container-video{
    display: flex;
    justify-content: center;
}
.enf-med-main .dica-assista-video-inicial{
   text-align: center;
    margin-top: 50px;
    font-size: 1.5em;
    width: 100%;
    text-shadow: 1px 1px 4px black;
}
.enf-med-main .video-poster-inicial{
    background-position: 50% 50%;
    background-size: cover;
    height: 300px;
    color: white;
    padding: 10px;
    cursor: pointer;
    width: 50%;

}
.enf-med-main .video-poster-inicial .play{
    position: absolute;
    top: calc(35% - 0px);
    left: calc(50% - 50px);
    font-size: 1.5rem;
}
.enf-med-main .video-poster-inicial .play:before{
    font-size: 7em;
    color: hsla(0, 100%, 100%, 0.8);
}
.enf-med-main .btn{
    background-color: var(--corpadrao)!important;
    width: 100%;
}
.enf-med-main .chamada{
    background-color: white;
    margin-bottom: 10px;
    cursor:pointer;
}
.enf-med-main .chamada .titulo{
    min-height: 80px;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 10px;

}
.enf-med-main .chamada .descricao{
    background-color: var(--corpadrao);
    color: white;
    padding: 14px;
    font-size: 16px;
    text-align: center;
}
.enf-med-main .chamada img{
    padding: 20px 0px;
    /*width: 180px;*/
}
.enf-med-main .chamada-unidade .descricao{
    background-color: var(--corpadrao);
    color: white;
    padding: 14px;
    font-size: 22px;
}
.enf-med-main .chamada-unidade{
    background-color: white;
    cursor:pointer;
}
.enf-med-main .chamada-unidade img{
    width: 60px;
}
.enf-med-main .teste-block{
    background-color: white;
    margin-left: 0px;
    margin-right: 0px;
    padding: 12px;
        min-height: 116px;
}
.enf-med-main .teste-block-item{
    text-align: center;
    border-top: 1px solid #c8c8c8;
    min-height: 125px;
}
.enf-med-main .teste-dica-inicial{
    color: #8c8c8c;
    font-size: 20px;
}
.enf-med-main .titulo {
    font-size: 24px;
    font-weight: 500;
}
.enf-med-main .teste-liberado{
    font-size: 16px;
    padding-top: 20px;
}
.enf-med-main .teste-bloqueado{
    background-color: #666666;
    color:white;
    font-size: 16px;
}
.enf-med-main span.mdi.mdi-lock-outline:before {
    font-size: 3em;
    position: absolute;
    top: -2px;
    left: -10px;
    color: white;
}

/* xs */
@media (max-width:767px) {
    .apr-enf-med-main .gotoForm.display-4{
        font-size: 1.5em;
    }
    .apr-enf-med-main .dica-assista-video-inicial{
        font-size: 1.3em;
    }
    .chamada .titulo{
        min-height: 80px;
        font-weight: 300;
        font-size: 24px;
        margin-top: 20px;
        margin-bottom: 10px;

    }
    .enf-med-main .title{
        font-size: 18px;
    }
    .enf-med-main .sub-title{
        font-size: 12px;
    }
}
/* sm */
@media (min-width:768px) {
    .chamada .titulo{
        min-height: 60px;
    }
    .enf-med-main .video-poster-inicial{
        width: 70%;
    }
}
/* md */
@media (min-width:992px) {

}
/* lg */
@media (min-width:1200px) { 
    .enf-med-main .video-poster-inicial{
        width: 50%;
    }
}
