
	.intro-carregando{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
	}
	.janela .logo{
		padding: 30px;
		text-align: center;
		min-height: 25%;
	}
	.logo.ufpel img{
		width: 100%;
	}
	.logo.unasus img{
		width: 80%;
	}
	
	.navbar .navbar-brand {
    	font-size: 1.2rem;
	}
	li.logo.ufpel img{
		height: 45px;
	}
	li.logo.unasus img{
		height: 25px;
	}

/*	@media(max-width: 768px){
		.logo.ufpel img{
			width: 100%;
		}
		.logo.unasus img{
			width: 80%;
		}
	}*/
	.janela{
		/*margin-top: 20%;*/
		width: calc(100% - 30px);
		position: absolute;
		top: 0px;
	}
	body {
	  background-color: #eee;
	}

	.loader {
	  position: relative;
	  margin: 0px auto;
	}

	.circular {
	  -webkit-animation: rotate 2s linear infinite;
	          animation: rotate 2s linear infinite;
	  height: 100px;
	  position: relative;
	  width: 100px;
	}

	.path {
	  stroke-dasharray: 1,200;
	  stroke-dashoffset: 0;
	  -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
	          animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
	  stroke-linecap: round;
	}

	@-webkit-keyframes rotate {
	  100% {
	    -webkit-transform: rotate(360deg);
	            transform: rotate(360deg);
	  }
	}

	@keyframes rotate {
	  100% {
	    -webkit-transform: rotate(360deg);
	            transform: rotate(360deg);
	  }
	}
	@-webkit-keyframes dash {
	  0% {
	    stroke-dasharray: 1,200;
	    stroke-dashoffset: 0;
	  }
	  50% {
	    stroke-dasharray: 89,200;
	    stroke-dashoffset: -35;
	  }
	  100% {
	    stroke-dasharray: 89,200;
	    stroke-dashoffset: -124;
	  }
	}
	@keyframes dash {
	  0% {
	    stroke-dasharray: 1,200;
	    stroke-dashoffset: 0;
	  }
	  50% {
	    stroke-dasharray: 89,200;
	    stroke-dashoffset: -35;
	  }
	  100% {
	    stroke-dasharray: 89,200;
	    stroke-dashoffset: -124;
	  }
	}
	@-webkit-keyframes color {
	  100%, 0% {
	    stroke: #0400E7;
	  }
	  40% {
	    stroke: #A2D5ED;
	  }
	  66% {
	    stroke: #0C5FA9;
	  }
	  80%, 90% {
	    stroke: #0C5FA9;
	  }
	}
	@keyframes color {
	  100%, 0% {
	    stroke: #0400E7;
	  }
	  40% {
	    stroke: #A2D5ED;
	  }
	  66% {
	    stroke: #0C5FA9;
	  }
	  80%, 90% {
	    stroke: #0C5FA9;
	  }
	}
