<div class="container-fluid" id="superfooter">
	<div class="row" style=" style='padding: 10px;'">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<strong>Coordenação:</strong> Anaclaudia Gastal Fassa e Luiz Augusto Facchini
		</div>
		<div class="col-md-4"></div>
	</div>
	<div class="row" id="footer" style='padding: 10px;display: flex;flex-direction: row;justify-content: space-around;'>
		<div class="col-md-2"></div>
		<div class="col-md-2 logo_dms">
			<img src="static/img/marcas/dms_branco.svg"></div>
		<!--div class="col-md-2 logo_dms">
			<img src="static/img/marcas/logo_aquares.svg"></div-->
		<div class="col-md-2 logo_unasus">
			<img src="static/img/marcas/unasus_branco.svg"></div>
		<!--div class="col-md-1 logo_fiocruz">
			<img src="static/img/marcas/fiocruz_bco.svg"></div-->
		<div class="col-md-1 logo_ms">
			<img src="static/img/marcas/ms_bco.svg"></div>
		<div class="col-md-2"></div>
	</div>
</div>
