
        <div class="container no-pad">
            <div class="col-sm-6 text-center">
                <div class="ufpel prim-logo logo">
                    <img src="<%=defaultStaticFileService%>/img/marcas/dms_branco.svg" alt="Logo da Departamento de Medicina Social da UFPEL">
                </div>
            </div>
            <div class="col-sm-6 text-center">
                <div class="unasus logo">
                    <img src="<%=defaultStaticFileService%>/img/marcas/unasus_branco.svg" alt="Logo da UNA-SUS">
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="container no-pad text-white">
            <div class="">
                <div class="col-md-12">
                    <h2>Atividade de Prevenção de Quedas no Domicílio</h2>
                </div>
            </div>
            <div class="col-md-6 no-pad">
                    <div class="col-md-12">
                        <h3>Créditos</h3>
                    </div>
                    <div class="col-sm-4 credito-box">
                        <h4>Autores</h4>
                        <p>Elaine Thumé</p>
                        <p>Mirelle Saes</p>
                        <p>Gil Facchini</p>
                    </div>
                    <div class="col-sm-4 credito-box">
                        <h4>Editores</h4>
                        <p>Anaclaudia Gastal Fassa</p>
                        <p>Luiz Augusto Facchini</p>
                    </div>
                    <div class="col-sm-4 credito-box">
                        <h4>Desenvolvimento</h4>
                        <p>Adrian Neuhaus</p>
                        <p>Ana Paula Caruso</p>
                        <p>Vanderson Silva</p>
                    </div>
                    <div class="col-md-12">
                        <p class="small">Recurso educacional aberto produzido pelo Departamento de Medicina Social da Universidade Federal de Pelotas para a Universidade Aberta do Sistema Único de Saúde. Qualquer uso deste material é permitido desde que citado o crédito.</p>
                    </div>
            </div>

            <div class="col-md-6 break-all no-pad">
                    <div class="col-md-12">
                        <h3>Referências</h3>
                    </div>
                    <div class="col-md-12">
	                    <dl>
	                        <dt>BRASIL. Ministério da Saúde. Secretaria de Atenção à Saúde. Departamento de Atenção Básica. Envelhecimento e saúde da pessoa idosa. Brasília, DF: Ministério da Saúde, 2007. 192 p. (Série A. Normas e Manuais Técnicos. Cadernos de Atenção Básica, n.19).</dt>
	                        <dd><p>Disponível em: <a href="http://189.28.128.100/dab/docs/publicacoes/cadernos_ab/abcad19.pdf" target="_blank">http://189.28.128.100/dab/docs/publicacoes/cadernos_ab/abcad19.pdf</a>. Acesso em 2014.</p></dd>
	                    </dl>
                   </div>
                    <div class="col-md-12">
	                    <dl>
	                        <dt>CHAIMOWICZ, Flávio. Saúde do idoso. 2 ed. Belo Horizonte: NESCON UFMG, 2013. 167 p.</dt>
	                        <dd><p>Disponível em: <a href="https://www.nescon.medicina.ufmg.br/biblioteca/imagem/3836.pdf" target="_blank">https://www.nescon.medicina.ufmg.br/biblioteca/imagem/3836.pdf</a>. Acesso em 2014.</p></dd>
	                    </dl>
                   </div>
                    <div class="col-md-12">
	                    <dl>
	                        <dt>MESSIAS, Manuela G.; NEVES, Robson F. A influência de fatores comportamentais e ambientais domésticos nas quedas em idosos. Rev. Bras. Geriatr. Gerontol., Rio de Janeiro, v. 12, n. 2, p. 275-282, 2009.</dt>
	                        <dd><p>Disponível em: <a href="http://www.crde-unati.uerj.br/img_tse/v12n2/pdf/art_10.pdf" target="_blank">http://www.crde-unati.uerj.br/img_tse/v12n2/pdf/art_10.pdf</a>. Acesso em 2014.</p></dd>
	                    </dl>
                   </div>
                    <div class="col-md-12">
	                    <dl>
	                        <dt>ORGANIZAÇÃO MUNDIAL DA SAÚDE. Secretaria de Estado da Saúde. Relatório Global da OMS sobre Prevenção de Quedas na Velhice. São Paulo: Secretaria de Estado da Saúde, 2010. 62 p.</dt>
	                        <dd><p>Disponível em: <a href="http://bvsms.saude.gov.br/bvs/publicacoes/relatorio_prevencao_quedas_velhice.pdf" target="_blank">http://bvsms.saude.gov.br/bvs/publicacoes/relatorio_prevencao_quedas_velhice.pdf</a>. Acesso em 2014.</p></dd>
	                    </dl>
                   </div>
            </div>

        </div>
