<div class="row">
    <div class="col-md-12 info">
    <h2><%-App.selecao.titulo%></h2>
    </div>
</div>
<div class="row">
    <div class="col-md-12 caixa-casos">
        <div class="listaCasos list-group"></div>
    </div>
</div>