<div class="item admissaoIntroducao carousel slide" id='carousel-adimissao' data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carousel-adimissao" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-adimissao" data-slide-to="1"></li>
        <li data-target="#carousel-adimissao" data-slide-to="2"></li>
        <li data-target="#carousel-adimissao" data-slide-to="3"></li>
        <li data-target="#carousel-adimissao" data-slide-to="4"></li>
        <li data-target="#carousel-adimissao" data-slide-to="5"></li>
        <li data-target="#carousel-adimissao" data-slide-to="6"></li>
        <li data-target="#carousel-adimissao" data-slide-to="7"></li>
        <li data-target="#carousel-adimissao" data-slide-to="8"></li>
        <li data-target="#carousel-adimissao" data-slide-to="9"></li>
        <li data-target="#carousel-adimissao" data-slide-to="10"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <div class='container slide-admissao'>
                <div class="row">
                    <h1>Avaliação e Monitoramento na Atenção Domiciliar</h1>
                    <p style="margin-top: 10px; margin-left:30px"><strong>Autores</strong> Elaine Thumé, Louriele Wachs, Mariângela Soares</p>
                    <p style="margin-top: 10px; margin-left:30px"><strong>Editores</strong> Anaclaudia Fassa</p>
                </div>
            </div>
        </div>
        <div class="item">
            <div class='container slide-admissao'>
                <div class="row">
                    <h3>O que é Avaliar?</h3>
                    <p>Avaliar é formular um juízo de valor sobre algo de interesse da saúde:</p>
                    <ul>
                        <li>A situação de saúde dos indivíduos;</li>
                        <li>As necessidades de saúde;</li>
                        <li>A organização e a operacionalidade do trabalho em saúde;</li>
                        <li>Os resultados das ações de cuidado em saúde;</li>
                    </ul>
                    <p>Avaliação é a base para a tomada de decisão na implementação do cuidado a partir de um Plano Terapêutico Singular.
                        <br>Ver: Cadernos da Atenção Domiciliar, capítulo 1, volume 2 - PTS</p>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="container slide-admissao">
                <div class="row">
                    <h3>O que é Monitorar?</h3>
                    <p>Monitorar é acompanhar a implementação do Plano Terapêutico Singular, identificando:</p>
                    <ul>
                        <li>A evolução da situação de saúde após implementação do cuidado clínico;</li>
                        <li>A ocorrência de novos problemas;</li>
                        <li>A participação dos familiares no cuidado – fortalezas e fragilidades;</li>
                        <li>A utilização de serviços de saúde;</li>
                    </ul>
                    <p>Para isso, é necessário sistematizar os dados através do uso de instrumentos adequados.</p>
                </div>
            </div>
        </div>
        <div class="item">
            <div class='container slide-admissao'>
                <div class="row">
                    <h3>Para que Avaliar e Monitorar?</h3>
                    <ul>
                        <li>Identificar fragilidades e dificuldades dos indivíduos e dos serviços de saúde.</li>
                        <li>Tomar decisões oportunas.</li>
                        <li>Retroalimentar o planejamento.</li>
                        <li>Verificar a adequação do plano terapêutico.</li>
                        <li>Auxiliar na organização do cuidado e no planejamento dos serviços de atenção domiciliar no cuidado aos indivíduos e familiares.</li>
                        <li>Melhorar a qualidade do cuidado prestado no domicílio.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="container slide-admissao">
                <div class="row">
                    <h3>Qualidade - Definição</h3>
                    <p>Conceito Dinâmico:
                        <br>“Grau na qual os serviços de saúde ofertados aos indivíduos e populações, aumentam a probabilidade de resultados desejados e consistentes com o atual conhecimento profissional.” (IOM, 2001)</p>
                    <p>Necessária para otimizar insumos materiais e habilidades profissionais para produzir ações em saúde que satisfaçam as necessidades dos indivíduos e populações.</p>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="container slide-admissao">
                <div class="row">
                    <h3>Avaliação da Qualidade
                        <br>
                        <small>Avanços para construção de Indicadores</small>
                    </h3>
                    <ul>
                        <li>Segurança - risco mínimo!</li>
                        <li>Eficácia - cuidado cientificamente comprovado? Atinge o alvo?</li>
                        <li>Cuidado centrado no usuário- respeita suas preferencias, necessidades e valores?</li>
                        <li>Cuidado oportuno - tempo de espera adequado?</li>
                        <li>Eficiência - no uso de equipamentos, suprimentos ou energia dispensada no trabalho.</li>
                        <li>Equidade - cuidado sem discriminação de gênero, etnia ou posição socioeconômica?</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="container slide-admissao">
                <div class="row visible-md visible-lg hidden-sm hidden-xs">
                    <div class="col-md-6 col-md-offset-3 seta-up">
                        Readequação
                        <i class="ion-chevron-down"></i>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-2 big-box">
                        <div class="big-content">Admissão
                        </div>
                    </div>
                    <div class="col-xs-6 col-xs-offset-3 col-md-2 col-md-offset-0 small-box">
                        <div class="small-content">PTS
                        <i class="ion-chevron-right visible-md visible-lg hidden-sm hidden-xs"></i>
                        </div>
                        <i class="ion-arrow-down-b hidden-md hidden-lg visible-sm visible-xs"></i>
                    </div>
                    <div class="col-xs-12 col-md-4 big-box">
                        <div class="big-content">Implementação do Cuidado
                        <i class="ion-chevron-right visible-md visible-lg hidden-sm hidden-xs"></i>
                        </div>
                        <i class="ion-arrow-down-b hidden-md hidden-lg visible-sm visible-xs"></i>
                    </div>
                    <div class="col-xs-6 col-xs-offset-3 col-md-2 col-md-offset-0 small-box">
                        <div class="small-content">MONITORAMENTO
                        </div>
                        <div class="seta-vertical hidden-md hidden-lg visible-sm visible-xs">
                            <i class="ion-chevron-left"></i>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-2 big-box">
                        <div class="big-content">Alta
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="container slide-admissao">
                <div class="row">
                    <h3>Na avaliação da qualidade na Atenção Domiciliar sugere-se considerar:</h3>
                    <div class="col-md-2 numero">1</div>
                    <div class="col-md-10 texto-proporcao">
                        <h4>Aspectos Funcionais</h4>
                        <p>Proporção de idosos:</p>
                        <ul>
                            <li>que apresentaram quedas ou fraturas durante período de atendimento domiciliar.</li>
                            <li>que precisaram e receberam atendimento para reabilitação.</li>
                            <li>reabilitados para realização de atividades da vida diária (AVD).</li>
                            <li>reabilitados para preparar e tomar medicamentos.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="container slide-admissao">
                <div class="row">
                    <h3>Na avaliação da qualidade na Atenção Domiciliar sugere-se considerar:</h3>
                    <div class="col-md-2 numero">2</div>
                    <div class="col-md-10 texto-proporcao">
                        <h4>Aspectos Clínicos Fisiológicos</h4>
                        <p>Proporção de:</p>
                        <ul>
                            <li>ocorrência de novas feridas.</li>
                            <li>piora na cicatrização de feridas pré-existentes.</li>
                            <li>ocorrência de dor que impeça a realização de atividades da vida diária (AVD).</li>
                            <li>pacientes que apresentaram desidratação.</li>
                            <li>idosos com vacinação contra Influenza/H1N1.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="container slide-admissao">
                <div class="row">
                    <h3>Na avaliação da qualidade na Atenção Domiciliar sugere-se considerar:</h3>
                    <div class="col-md-2 numero">3</div>
                    <div class="col-md-10 texto-proporcao">
                        <h4>Utilização de Serviços de Saúde</h4>
                        <p>Proporção de:</p>
                        <ul>
                            <li>atendimentos de emergência durante atendimento domiciliar.</li>
                            <li>hospitalizações durante atendimento domiciliar.</li>
                            <li>idosos com revisão medicamentosa nos últimos 6 meses.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="container slide-admissao">
                <div class="row">
                    <h3>Na avaliação da qualidade na Atenção Domiciliar sugere-se considerar:</h3>
                    <div class="col-md-2 numero">4</div>
                    <div class="col-md-10 texto-proporcao">
                        <h4>Cuidado Familiar e Relações Sociais</h4>
                        <div class="texto">Proporção de idosos identificados com risco:</div>
                        <ul>
                            <li>Isolamento social.</li>
                            <li>Falta apoio familiar.</li>
                            <li>Situações de conflito.</li>
                            <li>Negligência/Abuso.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#carousel-adimissao" data-slide="prev">
        <span class="ion-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-adimissao" data-slide="next">
        <span class="ion-chevron-right"></span>
    </a>
</div>