<div id="ubs-main-layout">
    <div class="container ubs-main-container">
        <div class="row">
            <div class="col-md-12">
                <div class="h1"><i class="mdi-maps-location-history"></i> Escolha <span class="hidden-xs">a </span>sua <span class="hidden-xs">Unidade de Saúde</span><span class="hidden-sm hidden-md hidden-lg">UBS</span></div>
            </div>
        </div>
        <div class="row loc-controls">
            <div class="col-sm-4">
                <label for="select" class="col-lg-2 control-label">Estado</label>
                <div id="selUf" class="form-control-wrapper col-lg-10"></div>
            </div>
            <div class="col-sm-8">
                <label for="select" class="col-lg-2 control-label">Município</label>
                <div id="selMun"class="form-control-wrapper col-lg-10">
                    <div class="disabled">Escolha primeiro um estado</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="selUbs"></div>
            </div>
        </div>
    </div>
</div>