
          <figure class="highcharts-figure">
                <div id='area'></div>
                <p class="highcharts-description">
        Chart showing stacked percentage columns, where each column totals 100%,
        and each element value is visualized by giving it a size relative to the
        other elements.
    </p>
</figure>
