<div class="bbm-modal__topbar">
	<div class="bbm-modal__title">Remover local</div>
</div>
<div class="bbm-modal__section row">
  <p> Você deseja realmente remover este local e todos os dados de monitoramento atrelados a ele?</p>
</div>
<div class="bbm-modal__bottombar">
    <a href="#comp/monitoramento-covid/" class="btn btn-danger  close-modal">Cancelar</a>
    <button class="btn btn-primary btn-excluir ">Sim</button>
</div>