<div class="bbm-modal__topbar">
	<div class="bbm-modal__title">Unidade bloqueada</div>
</div>
<div class="bbm-modal__section row">
  Esta unidade ainda não está disponível!
</div>
<div class="bbm-modal__bottombar">
    <a href="#" class="bbm-button close-modal">Entendi</a>
</div>
