<div class="container-fluid">
	
	<div class='panel panel-default'>
		<div class='panel-heading'>
			<h3 class="titulo-calc">
				<span class="nomeCalc">DPOC</span>
				<small>Avaliação de gravidade da doença pulmonar obstrutiva crônica. </small>
			</h3>
		</div>
		<div class='panel-body'>
			<div class="col-md-6 col-sm-6 col-xs-12">
				<h3>Critérios</h3>
				<div class='checkbox'>
					<label>
				  	<input type="checkbox" id="razaoVef1Cvf" >VEF1/CVF < 0.7
				  </label>
			  	</div>
			    <div class='checkbox'>
				    <label>
				      <input type="checkbox" id="insuficieciaRespCronica">Insuficiência respiratória crônica
				    </label>
			    </div>
			    <div class='radio first'>
				    <label>
				      <input type="radio" name="optionRadios" id="radio80" value='1'> VEF1 > 80%
				    </label>
			    </div>
			    <div class='radio'>
				    <label>
				      <input type="radio" name="optionRadios" id="radio5080" value='2'> 50% < VEF1 < 80%
				    </label>
					</div>
			    <div class='radio'>
				    <label>
				      <input type="radio" name="optionRadios" id="radio3050" value='3'> 30% < VEF1 < 50%
				    </label>
			    </div>
			    <div class='radio'>
					<label >
						<input  type="radio" name="optionRadios" id="radio30" value='4'> VEF1 < 30%
					</label>
				</div>
			</div>

			<div class="col-md-6 col-sm-6 col-xs-12 condutaBox">
				<span >Gravidade:</span>
				<h3 class='gravidade'></h3>
				<div class='manejo'>
					<h4>Manejo Terapêutico</h4>
					<ul class="list-group"></ul>
				</div>

			</div>
		</div>
		<div class='col-md-12 col-sm-12 col-xs-12 calc-footer'>
			<h4 >Versão impressa</h4>
			<dl>
			    <dt><a href="/static/bib/apoio/dpoc.pdf" target="_blank">Especificação da calculadora do DPOC</a>
			    </dt>
			    <dd>
			      <small>42.0 kB</small>
			    </dd>
			</dl>
			<h4>Referências:</h4>
			<dl>
			    <dt>
			    CONSENSO BRASILEIRO SOBRE DOENÇA PULMONAR OBSTRUTIVA CRÔNICA – DPOC, II, 2004, [S.l]. Jornal Brasileiro de Pneumologia. Brasília, DF: Sociedade Brasileira de Pneumologia e Tisiologia, v. 30, nov.2014. Suplemento 5.
			    </dt>
			    <dd>Disponível em: <a href="http://www.jornaldepneumologia.com.br/PDF/Suple_124_40_DPOC_COMPLETO_FINALimpresso.pdf" target="_blank">http://www.jornaldepneumologia.com.br/PDF/Suple_124_40_DPOC_COMPLETO_FINALimpresso.pdf</a> Acesso em 2014</dd>
			</dl>
			<dl>
			    <dt>
			    BRASIL. Ministério da Saúde. Secretaria de Atenção à Saúde. Portaria nº 609, de 06 de junho de 2013. Aprova o Protocolo Clínico e Diretrizes Terapêuticas – <a href="/static/bib/brasil_portaria_609.pdf" target="_blank">Doença Pulmonar Obstrutiva Crônica.</a> Diário Oficial [da] República Federativa do Brasil, Poder Executivo, Brasília, DF, 06 jun. 2013. Seção 1, p. 36. 		 
				</dt>
				<dd>Disponível em: <a href="http://bvsms.saude.gov.br/bvs/saudelegis/sas/2013/prt0609_06_06_2013.html" target="_blank">http://bvsms.saude.gov.br/bvs/saudelegis/sas/2013/prt0609_06_06_2013.html</a> Acesso em 2014</dd>
			</dl>
	  	</div>
	</div>
</div>
