<style>
.box-mensagem{
  border: 1px solid;
  padding:30px;
}
.container-mensagem{
	text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

</style>
<div class="container-mensagem">
	<div class="box-mensagem col-sm-offset-3 col-sm-6 col-md-offset-3 col-md-6">
		<div class="row">
			<div class="col-xs-offset-3 col-xs-6 col-sm-6 col-md-offset-0 col-md-2 col-lg-offset-0 col-lg-2" >
				<h1>
					<img class="teste-img-inicial" src="/static/img/semoferta.svg" alt="">
				</h1>
			</div>
			<div class="col-sm-12 col-md-10 col-lg-10">
				<h2>
					Infelizmente não existe uma oferta desse módulo aberta no momento!
				</h2>
				<% if(App.enquetes){%>
					<small> Se você já se inscreveu em alguma de nossas ofertas anteriores, por favor ajude-nos a aperfeiçoar os nossos cursos, responda a nossa enquete:</small>
					<br>
					<br>
					<a href="#comp/enquetes/encerramento/"><button class="btn btn-primary">Responder</button></a>
				<%}%>
			</div>
		</div>
	</div>
</div>