<div class="container">
    <style type="text/css">
        .item.calculadoras.imc .calc-footer{
            padding-bottom: 1px;
        }
    </style>
    <div class='panel panel-default'>
        <div class='panel-heading'>
            <h3 class="titulo-calc">
                <span class="nomeCalc">IMC</span>
                <small>Calculo do Índice de Massa Corporal</small>
            </h3>
        </div>
        <div class='panel-body'>
            <div class="col-sm-6">
                <span class="h4">Informações do xxxxxxxxxxxxxxxxpaciente</span>
                <div class='form-group'>
                    <label for='pesoId'>Peso</label>
                    <div class="input-group">
                      <input type="text" id="pesoId" class='form-control input input-lg' >
                      <span class="input-group-addon">Kg</span>
                    </div>
                </div>
                <div class='form-group'>
                    <label for='alturaId'>Altura</label>
                    <div class="input-group">
                      <input type="text" id="alturaId" class='form-control input input-lg'>
                      <span class="input-group-addon">m</span>
                    </div>
                </div>
                <div class='form-group'>
                    <div class='radio'>
                        <label class="h4">
                            <input type="radio" name="optionRadios1" class="ehIdoso" value="1"  checked >Idoso: idade > 65 anos
                        </label>
                    </div>
                    <div class='radio'>
                        <label class="h4">
                            <input type="radio" name="optionRadios1" class="ehIdoso" value="0">Adulto: idade <= 65 anos
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-info">Calcular</button>
                </div>
            </div>
            <div class="col-sm-6 condutaBox">
                <span class='h4'>Resultado</span><br>
                <span class="faixa"></span> <span class="altuRes"></span><br/>
                <h3>IMC =
                    <span class='resultado'></span>
                </h3>
                <div class='infomacao'>
                    <h4 class='classificacao'></h4>
                    <span class='descricao'></span>
                    <div class='intervaloIdeal'>
                        Peso ideal <span class='idealMenor'></span> - <span class='idealMaior'></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class='container calc-footer'>
    <div class="col-md-12">
        <dl>
            <dt>
                <a href="/static/bib/apoio/imc.pdf" target="_blank"><span class='h4' ><i class="mdi mdi-file-pdf"></i> </span>
                Especificação da calculadora do IMC</a>
            </dt>
            <dd>
              <small>40.3 kB</small>
            </dd>
        </dl>
        <h4>Referências:</h4>
        <dl>
            <dt>WORLD HEALTH ORGANIZATION. Obesity: preventing and managing the global epidemic. Report of a World Health Organization Consultation. Geneva: World Health Organization, 2000. 253 p. (WHO Obesity Technical Report Series, n. 894).</dt>
            <dd><p>Disponível em: <a href="http://www.who.int/nutrition/publications/obesity/WHO_TRS_894/en/" target="_blank">http://www.who.int/nutrition/publications/obesity/WHO_TRS_894/en/</a> Acesso em 2014</p></dd>
        </dl>
        <dl>
            <dt>LIPSCHITZ, D.A. Screening for Nutritional Status in the Elderly. Primary Care, [S. l.], v. 21, n. 1, p. 55-67, mar.1994. (Indexed for MEDLINE)</dt>
            <dd><p>Disponível em: <a href="http://www.ncbi.nlm.nih.gov/pubmed/8197257" target="_blank">http://www.ncbi.nlm.nih.gov/pubmed/8197257</a> Acesso em 2014</p></dd>
        </dl>
    </div>
</div>