<div class="container-fluid">
	<div class='panel panel-default'>
		<div class='panel-heading'>
			<h3 class="titulo-calc">
				<span class="nomeCalc">Diagnóstico Sindrômico da dor Pélvica</span>
				<small>Calculadora de Diagnóstico Sindrômico da dor Pélvica</small>
			</h3>
		</div>
		<div class='panel-body'>
		    <div class="item item-1 active" data-indice='1'>
				<div class="col-md-12 col-sm-12 col-xs-12">
					<h4 class='sub-titulo-calc'><small>Queixa de desconforto abdominal ou dor pélvica</small></h4>
					<h4 class='sub-titulo-calc'><small>Anamnese e exame ginecológico (toque vaginal e exame especular) </small></h4>
					<span>Sangramento vaginal ou atraso menstrual ou parto/aborto recentes?</span>
				    <div class='radio first'>
					    <label>
						    <input type="radio" name="optionRadios1" id="1vez" value='1' checked> Sim 
						</label>
					</div>
					<div class='radio'>
					    <label>
						    <input type="radio" name="optionRadios1" id="2vez" value='2'> Não
					    </label>
					</div>
				</div>
			</div>

		    <div class="item item-2 " data-indice='2'>
				<div class="col-md-6 col-sm-6 col-xs-6">
					<span>Quadro abdominal grave?</span>
				    <div class='radio first'>
					    <label>
						    <input type="radio" name="optionRadios2" id="1vez" value='1' checked> Sim
						</label>
					</div>
					<div class='radio'>
					    <label>
						    <input type="radio" name="optionRadios2" id="2vez" value='2'> Não
					    </label>
					</div>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-6">
					<h4 class='sub-titulo-calc'><small>Quadro abdominal grave:</small></h4>
					<ul class='list-group'>
						<li class='list-group-item'>Defesa muscular ou</li>
						<li class='list-group-item'>Dor à palpação ou</li>
						<li class='list-group-item'>Temperatura axilar > 37,5ºC ou temperatura oral > 38,3ºC</li>
					<ul>
				</div>
			</div>
		    <div class="item item-3 " data-indice='3'>
		    	<div class="col-md-6 col-sm-6 col-xs-12">
					<span>Diagnóstico clínico de doença inflamatória pélvica?</span>


				    <div class='radio first'>
					    <label>
						    <input type="radio" name="optionRadios3" id="1vez" value='1' checked> Sim 
						</label>
					</div>
					<div class='radio'>
					    <label>
						    <input type="radio" name="optionRadios3" id="2vez" value='2'> Não
					    </label>
					</div>
					<div class='slide-footer'>
						<h4 class='sub-titulo-calc'><small>Para a confirmação clínica de DIP, é necessária a presença de:</small></h4>
						<ul class='list-group'>
							<li class='list-group-item'>Três critérios maiores MAIS um critério menor;</li>
							<li class='list-group-item'>OU</li>
							<li class='list-group-item'>Um critério elaborado. </li>
						</ul>
					</div>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12">
					<h4 class='sub-titulo-calc'><small>Critérios menores:</small></h4>
					<ul class='list-group'>
						<li class='list-group-item'>Temperatura axila > 37,5ºC ou >38,3ºC</li>
						<li class='list-group-item'>Conteúdo vaginal ou secreção endocervical anormal</li>
						<li class='list-group-item'>Massa pélvica</li>
						<li class='list-group-item'>Mais de cinco leucócitos por campo de imersão em material da endocérvice</li>
						<li class='list-group-item'>Leucocitose em sangue periférico</li>
						<li class='list-group-item'>Proteína C reativa ou velocidade de hemossedimentação (VHS) elevada</li>
						<li class='list-group-item'>Comprovação laboratorial de infecção cervical pelo gonococo, clamídia ou micoplasma</li>
					<ul>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12">
					<h4 class='sub-titulo-calc'><small>Critérios maiores:</small></h4>
					<ul class='list-group'>
						<li class='list-group-item'>Dor no hipogástrio</li>
						<li class='list-group-item'>Dor à palpação dos anexos</li>
						<li class='list-group-item'>Dor à mobilização do colo uterino</li>
					<ul>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12">
					<h4 class='sub-titulo-calc'><small>Critérios elaborados:</small></h4>
					<ul class='list-group'>
						<li class='list-group-item'>Evidência histopatológica de endometrite</li>
						<li class='list-group-item'>Presença de abscesso tubo-ovariano ou de fundo de saco de Douglas em estudo de imagem</li>
						<li class='list-group-item'>Laparoscopia com evidência de DIP</li>
					<ul>
				</div>				
			</div>
		    <div class="item item-4 " data-indice='4'>
		    	<div class="col-md-12 col-sm-12 col-xs-12">
					<span>Indicação de internação hospitalar?</span>
				    <div class='radio first'>
					    <label>
					      <input type="radio" name="optionRadios4" id="ausente" value='1' checked> Sim
					    </label>
				    </div>
				    <div class='radio'>
					    <label>
					      <input type="radio" name="optionRadios4" id="presente" value='2'> Não
					    </label>
					</div>
				</div>
		    </div>
		    <div class="item item-5 " data-indice='5'>
		    	<div class="col-md-12 col-sm-12 col-xs-12">
		    		<p>Coleta de material para Gonococo, Clamídia, Tricomonas e Vaginose Bacteriana, se disponível. Iniciar tratamento ambulatorial
Agendar retorno em três dias</p>
					<span>Houve melhora em três dias?</span>
				    <div class='radio first'>
					    <label>
					      <input type="radio" name="optionRadios5" id="umaoumenos" value='1' checked> Sim
					    </label>
				    </div>
				    <div class='radio'>
					    <label>
					      <input type="radio" name="optionRadios5" id="diasoumais" value='2'> Não
					    </label>
					</div>
				</div>
		    </div>
		    

		    <div class='item item-6  ' data-indice='6'>
		    	<div class="col-md-12 col-sm-12 col-xs-12">
					<h2 class='resultado-titulo'>Resultado</h2>

					<div class='descricao-resultado'>
						<!-- <h3 >Manifestações Clínicas Classificadas como: </h3> -->
						<p><h1 class='col-sm-4 resultado'></h1></p>
					</div>

				</div>
				<!-- <div class='col-md-12 col-sm-12 col-xs-12 calc-footer'>
					<h4 >Versão impressa</h4>
					<dl>
					    <dt><a href="/static/bib/apoio/paciente_ad1.pdf" target="_blank">Especificação da calculadora de complexidade do pacente em AD1.</a>
					    </dt>
					    <dd>
					      <small>58.3 kB</small>
					    </dd>
					</dl>
					<h4>Referências:</h4>
					<dl>
					    <dt>
						BRASIL. Ministério da Saúde. Secretaria de Atenção à Saúde. Departamento de Atenção Básica. <a href="/static/bib/brasil_caderno_de_atencao2.pdf" target="_blank">Caderno de atenção domiciliar.</a> Brasília, DF: Ministério da Saúde, 2013. 205 p.
						</dt>
						<dd><p>Disponível em: <a href="http://189.28.128.100/dab/docs/portaldab/publicacoes/cad_vol2.pdf" target="_blank">http://189.28.128.100/dab/docs/portaldab/publicacoes/cad_vol2.pdf</a> Acesso em 2014 <br><small>2000.0 kB</small></p>
						</dd>
					</dl>
					<dl>
						<dt>SAVASSI, Leonardo C. M. et al. <a href="/static/bib/savassi_proposta_protocolo_risco_AD_2012.pdf" target="_blank">Proposta de protocolo de classificação de risco para atendimento domiciliar individual na atenção primária.</a> J. Manag. Prim. Health Care, [S.l.], v. 3, n. 2, p. 151-1577, 2012.
						</dt>
						<dd><p>Disponível em: <a href="http://www.jmphc.com/ojs/index.php/01/article/view/56/50" target="_blank">http://www.jmphc.com/ojs/index.php/01/article/view/56/50</a> Acesso em 2014 <br><small>390.0 kB</small></p>
						</dd>
					</dl>
				</div> -->
		    </div>

		    <div class="col-md-12 col-sm-12 col-xs-12">
		    	<ul class="pagination">
				  <li id='prev' ><a class='sensivel'><span class='glyphicon glyphicon-chevron-left prev'></span></a></li>
				  <li id='inicio'><a class='sensivel'><span class='glyphicon glyphicon-home inicio'></span></a></li>
				  <li id='next'><a class='sensivel'><span class='glyphicon glyphicon-chevron-right next'></span></a></li>
				</ul>
				<div class='btn-group'>
					<!--button id='prev' type='button' class='prev btn btn-default' ><span class='ion-ios7-arrow-back'></span></button>
					<button id='inicio' type='button' class='inicio btn btn-default'><span class='ion-home'></span></button>
					<button id='next' type='button' class='next btn btn-default' ><span class='ion-ios7-arrow-forward'></span></button-->
				</div>
			</div>
		</div>
	</div>
</div>