<div class="container-fluid">
	<div class='panel panel-default'>
		<div class='panel-heading'>
			<h3 class="titulo-calc">
				<span class="nomeCalc">Sobrecarga do cuidador</span>
				<small>Cálculo do nível de sobrecarga dos cuidadores conforme a escala de Zarit.</small>
			</h3>
		</div>
		<div class='panel-body'>
			<div data-indice='0' class='item item-0 active'>
				<div class='col-md-12 col-sm-12 col-xs-12'>
					<p>
						Tem por objetivo avaliar a sobrecarga dos cuidadores de idosos. Esta escala não deve ser realizada na presença do idoso. A cada afirmativa o cuidador deve indicar a frequência que se sente em relação ao que foi perguntado (nunca, quase nunca, às vezes, frequentemente ou sempre). Não existem respostas certas ou erradas. O estresse dos cuidadores será indicado por altos escores.
					</p>
					<p><button class="comeca btn btn-success">Iniciar a calculadora</button></p>
				</div>
			</div>
		    <div data-indice='1' class="item item-1">
		    	<div class="col-md-12 col-sm-12 col-xs-12">
					<h4>1. Sente que, por causa do tempo que utiliza com o seu familiar/doente já não tem tempo suficiente para você mesmo?</h4>
				    <div class='radio first'>
					    <label>
					      <input type="radio" name="optionRadios1" id="nunca" value='1'checked> Nunca
					    </label>
				    </div>
				    <div class='radio'>
					    <label>
					      <input type="radio" name="optionRadios1" id="raramente" value='2'> Quase nunca
					    </label>
						</div>
				    <div class='radio'>
					    <label>
					      <input type="radio" name="optionRadios1" id="algumas" value='3'> Às vezes
					    </label>
				    </div>
				    <div class='radio'>
						<label >
							<input  type="radio" name="optionRadios1" id="frequentemente" value='4'> Frequentemente
						</label>
					</div>
					<div class='radio'>
						<label >
							<input  type="radio" name="optionRadios1" id="sempre" value='5'> Quase sempre
						</label>
					</div>
				</div>
		    </div>
		    <div data-indice='2' class="item item-2">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<h4>2. Sente-se estressado/angustiado por ter que cuidar do seu familiar/doente e ao mesmo tempo ser responsável por outras tarefas? (ex.: cuidar de outros familiares, ter que trabalhar)?</h4>
				    <div class='radio first'>
					    <label>
					      <input type="radio" name="optionRadios2" id="nunca" value='1'checked> Nunca
					    </label>
				    </div>
				    <div class='radio'>
					    <label>
					      <input type="radio" name="optionRadios2" id="raramente" value='2'> Raramente
					    </label>
						</div>
				    <div class='radio'>
					    <label>
					      <input type="radio" name="optionRadios2" id="algumas" value='3'> Às vezes
					    </label>
				    </div>
				    <div class='radio'>
						<label >
							<input  type="radio" name="optionRadios2" id="frequentemente" value='4'> Frequentemente
					</div>
					<div class='radio'>
						<label >
							<input  type="radio" name="optionRadios2" id="sempre" value='5'> Quase sempre
						</label>
					</div>
				</div>
			</div>
		    <div data-indice='3' class="item item-3">
		    	<div class="col-md-12 col-sm-12 col-xs-12">
					<h4>3. Acha que a situação atual afeta a sua relação com amigos ou outros elementos da família de uma forma negativa?</h4>
				    <div class='radio first'>
					    <label>
					      <input type="radio" name="optionRadios3" id="nunca" value='1'checked> Nunca
					    </label>
				    </div>
				    <div class='radio'>
					    <label>
					      <input type="radio" name="optionRadios3" id="raramente" value='2'> Quase nunca
					    </label>
						</div>
				    <div class='radio'>
					    <label>
					      <input type="radio" name="optionRadios3" id="algumas" value='3'> Às vezes
					    </label>
				    </div>
				    <div class='radio'>
						<label >
							<input  type="radio" name="optionRadios3" id="frequentemente" value='4'> Frequentemente
					</div>
					<div class='radio'>
						<label >
							<input  type="radio" name="optionRadios3" id="sempre" value='5'> Quase sempre
						</label>
					</div>
				</div>
			</div>
		    <div data-indice='4' class="item item-4">
		    	<div class="col-md-12 col-sm-12 col-xs-12">
					<h4>4.	Sente-se exausto quando tem de estar junto do seu familiar/doente?</h4>
				    <div class='radio first'>
					    <label>
					      <input type="radio" name="optionRadios4" id="nunca" value='1'checked> Nunca
					    </label>
				    </div>
				    <div class='radio'>
					    <label>
					      <input type="radio" name="optionRadios4" id="raramente" value='2'> Quase nunca
					    </label>
						</div>
				    <div class='radio'>
					    <label>
					      <input type="radio" name="optionRadios4" id="algumas" value='3'> Às vezes
					    </label>
				    </div>
				    <div class='radio'>
						<label >
							<input  type="radio" name="optionRadios4" id="frequentemente" value='4'> Frequentemente
						</label>
					</div>
					<div class='radio'>
						<label >
							<input  type="radio" name="optionRadios4" id="sempre" value='5'> Quase sempre
						</label>
					</div>
				</div>
		    </div>
		    <div data-indice='5' class="item item-5">
		    	<div class="col-md-12 col-sm-12 col-xs-12">
					<h4>5. Sente que sua saúde tem sido afetada por ter que cuidar do seu familiar/doente?</h4>
				    <div class='radio first'>
					    <label>
					      <input type="radio" name="optionRadios5" id="nunca" value='1'checked> Nunca
					    </label>
				    </div>
				    <div class='radio'>
					    <label>
					      <input type="radio" name="optionRadios5" id="raramente" value='2'> Quase nunca
					    </label>
						</div>
				    <div class='radio'>
					    <label>
					      <input type="radio" name="optionRadios5" id="algumas" value='3'> Às vezes
					    </label>
				    </div>
				    <div class='radio'>
						<label >
							<input  type="radio" name="optionRadios5" id="frequentemente" value='4'> Frequentemente
					</div>
					<div class='radio'>
						<label >
							<input  type="radio" name="optionRadios5" id="sempre" value='5'> Quase sempre
						</label>
					</div>
				</div>
		    </div>
		    <div data-indice='6' class="item item-6">
		    	<div class="col-md-12 col-sm-12 col-xs-12">
					<h4>6. Sente que tem perdido o controle da sua vida desde que a doença o seu familiar/ doente se manifestou?</h4>
				    <div class='radio first'>
					    <label>
					      <input type="radio" name="optionRadios6" id="nunca" value='1'checked> Nunca
					    </label>
				    </div>
				    <div class='radio'>
					    <label>
					      <input type="radio" name="optionRadios6" id="raramente" value='2'> Quase nunca
					    </label>
						</div>
				    <div class='radio'>
					    <label>
					      <input type="radio" name="optionRadios6" id="algumas" value='3'> Às vezes
					    </label>
				    </div>
				    <div class='radio'>
						<label >
							<input  type="radio" name="optionRadios6" id="frequentemente" value='4'> Frequentemente
							</label>
					</div>
					<div class='radio'>
						<label >
							<input  type="radio" name="optionRadios6" id="sempre" value='5'> Quase sempre
						</label>
					</div>
				</div>
		    </div>
		    <div data-indice='7' class="item item-7">
		    	<div class="col-md-12 col-sm-12 col-xs-12">
					<h4>7. No geral, sente-se muito sobrecarregado por ter que cuidar do seu familiar/ doente?</h4>
				    <div class='radio first'>
					    <label>
					      <input type="radio" name="optionRadios7" id="nunca" value='1' checked> Nunca
					    </label>
				    </div>
				    <div class='radio'>
					    <label>
					      <input type="radio" name="optionRadios7" id="raramente" value='2'> Quase nunca
					    </label>
						</div>
				    <div class='radio'>
					    <label>
					      <input type="radio" name="optionRadios7" id="algumas" value='3'> Às vezes
					    </label>
				    </div>
				    <div class='radio'>
						<label >
							<input  type="radio" name="optionRadios7" id="frequentemente" value='4'> Frequentemente
						</label>
					</div>
					<div class='radio'>
						<label >
							<input  type="radio" name="optionRadios7" id="sempre" value='5'> Quase sempre
						</label>
					</div>
				</div>
		    </div>
		    <div data-indice='8' class="item item-8 resposta">
		    	<div class="col-md-12 col-sm-12 col-xs-12">
					<h3 >Resultado:</h3>
					<h1 class='resultado'></h1>
				</div>

				<div class='col-md-12 col-sm-12 col-xs-12 calc-footer'>
					<h4 >Versão impressa</h4>
					<dl>
					    <dt><a href="/static/bib/apoio/zarit.pdf" target="_blank">Especificação da calculadora de sobrecarga (escala de Zarit).</a>
					    </dt>
					    <dd>
					      <small>48.2 kB</small>
					    </dd>
					</dl>
					<h4>Referências:</h4>
					<dl>
					    <dt>
							BRASIL. Ministério da Saúde. Secretaria de Atenção à Saúde. Departamento de Atenção Básica. <a href="/static/bib/brasil_caderno_de_atencao2.pdf" target="_blank">Caderno de atenção domiciliar.</a> Brasília, DF: Ministério da Saúde, 2013. 205 p. <br>
						</dt>
						<dd>
							<p>Disponível em: <a href="http://189.28.128.100/dab/docs/portaldab/publicacoes/cad_vol2.pdf" target="_blank">http://189.28.128.100/dab/docs/portaldab/publicacoes/cad_vol2.pdf</a>
							Acesso em 2014<br></p>
							<small>2000.0 kB</small>
						</dd>
					</dl>
					<dl>
						<dt>
						BRASIL. Ministério da Saúde. Secretaria de Atenção à Saúde. Departamento de Atenção Básica. <a href='/static/bib/brasil_caderno_envelhecimento_saude_idoso_n19_2006.pdf' target="_blank">Envelhecimento e saúde da pessoa idosa.</a> Brasília, DF: Ministério da Saúde, 2006. (Cadernos de Atenção Básica - n.º 19).
						</dt>
						<dd>
							<p>Disponível em: <a href="http://189.28.128.100/dab/docs/publicacoes/cadernos_ab/abcad19.pdf" target="_blank">http://189.28.128.100/dab/docs/publicacoes/cadernos_ab/abcad19.pdf</a> Acesso em 2014</p>
							<small>4000.0 kB</small>
						</dd>
					</dl>
				</div>

		    </div>
		    <div class="col-md-12 col-sm-12 col-xs-12">
		    	<ul class="pagination">
				  <li id='prev' ><a class='sensivel'><span class='glyphicon glyphicon-chevron-left prev'></span></a></li>
				  <li id='inicio'><a class='sensivel'><span class='glyphicon glyphicon-home inicio'></span></a></li>
				  <li class="p1"><a >1</a></li>
				  <li class="p2"><a >2</a></li>
				  <li class="p3"><a >3</a></li>
				  <li class="p4"><a >4</a></li>
				  <li class="p5"><a >5</a></li>
				  <li class="p6"><a >6</a></li>
				  <li class="p7"><a >7</a></li>
				  <li id='next'><a class='sensivel'><span class='glyphicon glyphicon-chevron-right next'></span></a></li>
				</ul>
			</div>
        </div>
	</div>
</div>

