<div class="container">
    <style type="text/css">
            .item.calculadoras.rtab {

                .radio label{
                    position: relative;
                    top: -3px;
                }

                .radio label.simples{
                    position: relative;
                    top: 0;
                    left: 60px;
                    margin-top: 12px;
                    display: inline-block;
                    margin-bottom: 30px;
                }

                .radio label.simples  input[type="radio"]{
                    position: relative;
                    top: -3px;
                }

                @media (min-width: 768px){
                  .escoreBox{
                    width: auto;
                    margin-left: -80px;
                  }
                }


                /*.radio.idade{
                    position: relative;
                    margin-left: 59px;
                }*/

                .radio {
                  margin: 10px 0px -7px;
                  padding: 0;
                }
                input[type="radio"]:focus {
                  outline: none;
                }

                input[type="radio"]{
                  /* float: none; */
                  /* vertical-align: -8px; */
                  margin-right: 10px;
                  position: relative;
                  top: 4px;
                }
                /*
                label>input[type='radio'][disabled] {
                    opacity: .4;
                }
                */
                label input[type='radio'][disabled] {
                    opacity: .4;
                }

                .radio label small {
                  white-space:pre;
                  position: relative;
                  top: -4px;
                }
                .item.calculadoras.rtab .radio label small:before {
                  content: '\A';
                }

                .item.calculadoras.rtab .titulo-calc{
                  color: #333 ;
                }

                .item.calculadoras.rtab .escoreBox{
                  text-align: center;
                  margin-bottom: -40px;
                  margin-left: 0px;
                }

                .item.calculadoras.rtab .condutaBox h4{
                  display: inline-block;
                }

                .rtab-tag{
                  float: left;
                  font-size: 30px;
                  /* vertical-align: -4px; */
                  /* display: inline-block; */
                  margin-right: 38px;
                  position: relative;
                  top: -4px;
                }

                .rtab-tag.idade{
                  float: left;
                  font-size: 18px;
                  /* vertical-align: -4px; */
                  /* display: inline-block; */
                  margin-right: 38px;
                  position: relative;
                  top: 5px;
                }

                .item.calculadoras.rtab .panel-body{
                  /*padding: 0;*/
                }

                .item.calculadoras.rtab .panel{
                  background: none;
                  border: none;
                  box-shadow: none;
                }

                .item.calculadoras.rtab .titulo{
                  color: #333 ;
                }



            }


    </style>

    <div class='panel panel-default'>
        <div class='panel-heading'>
            <h3 class="titulo-calc">
                <span class="nomeCalc">Escala de Razões para Fumar</span>                
            </h3>
        </div>
        <div class='panel-body'>
              <div class="col-md-7 col-sm-8 col-xs-12">

<h5>1 - Eu fumo cigarros para me manter alerta.</h5></p>
                <div class="radio">              
                        <label><input type="radio" name="Q1" id="Q11" value="1">Nunca</label>
                        <label><input type="radio" name="Q1" id="Q12" value="2">Raramente</label>
                        <label><input type="radio" name="Q1" id="Q13" value="3">Às vezes</label>
                        <label><input type="radio" name="Q1" id="Q14" value="4">Frequentemente</label>
                        <label><input type="radio" name="Q1" id="Q15" value="5">Sempre</label><BR><BR>
                 </div>
<h5>2 - Manusear o cigarro é parte do prazer de fumá-lo.</h5></p>
                <div class="radio">              
                        <label><input type="radio" name="Q2" id="Q21" value="1">Nunca</label>
                        <label><input type="radio" name="Q2" id="Q22" value="2">Raramente</label>
                        <label><input type="radio" name="Q2" id="Q23" value="3">Às vezes</label>
                        <label><input type="radio" name="Q2" id="Q24" value="4">Frequentemente</label>
                        <label><input type="radio" name="Q2" id="Q25" value="5">Sempre</label><BR><BR>
                 </div>
<h5>3 - Fumar dá prazer e é relaxante.</h5></p>
                <div class="radio">              
                        <label><input type="radio" name="Q3" id="Q31" value="1">Nunca</label>
                        <label><input type="radio" name="Q3" id="Q32" value="2">Raramente</label>
                        <label><input type="radio" name="Q3" id="Q33" value="3">Às vezes</label>
                        <label><input type="radio" name="Q3" id="Q34" value="4">Frequentemente</label>
                        <label><input type="radio" name="Q3" id="Q35" value="5">Sempre</label><BR><BR>
                 </div>
<h5>4 - Eu acendo um cigarro quando estou brabo com alguma coisa.</h5></p>
                <div class="radio">              
                        <label><input type="radio" name="Q4" id="Q41" value="1">Nunca</label>
                        <label><input type="radio" name="Q4" id="Q42" value="2">Raramente</label>
                        <label><input type="radio" name="Q4" id="Q43" value="3">Às vezes</label>
                        <label><input type="radio" name="Q4" id="Q44" value="4">Frequentemente</label>
                        <label><input type="radio" name="Q4" id="Q45" value="5">Sempre</label><BR><BR>
                 </div>
<h5>5 - Quando meus cigarros acabaram , acho isso quase insuportável até eu conseguir outro.</h5></p>
                <div class="radio">              
                        <label><input type="radio" name="Q5" id="Q51" value="1">Nunca</label>
                        <label><input type="radio" name="Q5" id="Q52" value="2">Raramente</label>
                        <label><input type="radio" name="Q5" id="Q53" value="3">Às vezes</label>
                        <label><input type="radio" name="Q5" id="Q54" value="4">Frequentemente</label>
                        <label><input type="radio" name="Q5" id="Q55" value="5">Sempre</label><BR><BR>
                 </div>
<h5>6 - Cigarros me fazem companhia, como um amigo íntimo.</h5></p>
                <div class="radio">              
                        <label><input type="radio" name="Q6" id="Q61" value="1">Nunca</label>
                        <label><input type="radio" name="Q6" id="Q62" value="2">Raramente</label>
                        <label><input type="radio" name="Q6" id="Q63" value="3">Às vezes</label>
                        <label><input type="radio" name="Q6" id="Q64" value="4">Frequentemente</label>
                        <label><input type="radio" name="Q6" id="Q65" value="5">Sempre</label><BR><BR>
                 </div>
<h5>7 - Eu fumo cigarros automaticamente sem mesmo me dar conta.</h5></p>
                <div class="radio">              
                        <label><input type="radio" name="Q7" id="Q71" value="1">Nunca</label>
                        <label><input type="radio" name="Q7" id="Q72" value="2">Raramente</label>
                        <label><input type="radio" name="Q7" id="Q73" value="3">Às vezes</label>
                        <label><input type="radio" name="Q7" id="Q74" value="4">Frequentemente</label>
                        <label><input type="radio" name="Q7" id="Q75" value="5">Sempre</label><BR><BR>
                 </div>
<h5>8 - É mais fácil conversar e me relacionar com outras pessoas quando estou fumando.</h5></p>
                <div class="radio">              
                        <label><input type="radio" name="Q8" id="Q81" value="1">Nunca</label>
                        <label><input type="radio" name="Q8" id="Q82" value="2">Raramente</label>
                        <label><input type="radio" name="Q8" id="Q83" value="3">Às vezes</label>
                        <label><input type="radio" name="Q8" id="Q84" value="4">Frequentemente</label>
                        <label><input type="radio" name="Q8" id="Q85" value="5">Sempre</label><BR><BR>
                 </div>
<h5>9 - Eu fumo para me estimular, para me animar.</h5></p>
                <div class="radio">              
                        <label><input type="radio" name="Q9" id="Q91" value="1">Nunca</label>
                        <label><input type="radio" name="Q9" id="Q92" value="2">Raramente</label>
                        <label><input type="radio" name="Q9" id="Q93" value="3">Às vezes</label>
                        <label><input type="radio" name="Q9" id="Q94" value="4">Frequentemente</label>
                        <label><input type="radio" name="Q9" id="Q95" value="5">Sempre</label><BR><BR>
                 </div>
<h5>10 - Parte do prazer de fumar um cigarro vem dos passos que eu tomo para acendê-lo.</h5></p>
                <div class="radio">              
                        <label><input type="radio" name="Q10" id="Q101" value="1">Nunca</label>
                        <label><input type="radio" name="Q10" id="Q102" value="2">Raramente</label>
                        <label><input type="radio" name="Q10" id="Q103" value="3">Às vezes</label>
                        <label><input type="radio" name="Q10" id="Q104" value="4">Frequentemente</label>
                        <label><input type="radio" name="Q10" id="Q105" value="5">Sempre</label><BR><BR>
                 </div>
<h5>11 - Eu acho os cigarros prazerosos.</h5></p>
                <div class="radio">              
                        <label><input type="radio" name="Q11" id="Q111" value="1">Nunca</label>
                        <label><input type="radio" name="Q11" id="Q112" value="2">Raramente</label>
                        <label><input type="radio" name="Q11" id="Q113" value="3">Às vezes</label>
                        <label><input type="radio" name="Q11" id="Q114" value="4">Frequentemente</label>
                        <label><input type="radio" name="Q11" id="Q115" value="5">Sempre</label><BR><BR>
                 </div>
<h5>12 - Quando eu me sinto desconfortável ou chateado com alguma coisa, eu acendo um cigarro.</h5></p>
                <div class="radio">              
                        <label><input type="radio" name="Q12" id="Q121" value="1">Nunca</label>
                        <label><input type="radio" name="Q12" id="Q122" value="2">Raramente</label>
                        <label><input type="radio" name="Q12" id="Q123" value="3">Às vezes</label>
                        <label><input type="radio" name="Q12" id="Q124" value="4">Frequentemente</label>
                        <label><input type="radio" name="Q12" id="Q125" value="5">Sempre</label><BR><BR>
                 </div>
<h5>13 - Controlar meu peso é uma razão muito importante pela qual eu fumo.</h5></p>
                <div class="radio">              
                        <label><input type="radio" name="Q13" id="Q131" value="1">Nunca</label>
                        <label><input type="radio" name="Q13" id="Q132" value="2">Raramente</label>
                        <label><input type="radio" name="Q13" id="Q133" value="3">Às vezes</label>
                        <label><input type="radio" name="Q13" id="Q134" value="4">Frequentemente</label>
                        <label><input type="radio" name="Q13" id="Q135" value="5">Sempre</label><BR><BR>
                 </div>
<h5>14 - Eu acendo um cigarro sem perceber que ainda tenho outro aceso no cinzeiro.</h5></p>
                <div class="radio">              
                        <label><input type="radio" name="Q14" id="Q141" value="1">Nunca</label>
                        <label><input type="radio" name="Q14" id="Q142" value="2">Raramente</label>
                        <label><input type="radio" name="Q14" id="Q143" value="3">Às vezes</label>
                        <label><input type="radio" name="Q14" id="Q144" value="4">Frequentemente</label>
                        <label><input type="radio" name="Q14" id="Q145" value="5">Sempre</label><BR><BR>
                 </div>
<h5>15 - Quando estou fumando me sinto mais seguro com as outras pessoas.</h5></p>
                <div class="radio">              
                        <label><input type="radio" name="Q15" id="Q151" value="1">Nunca</label>
                        <label><input type="radio" name="Q15" id="Q152" value="2">Raramente</label>
                        <label><input type="radio" name="Q15" id="Q153" value="3">Às vezes</label>
                        <label><input type="radio" name="Q15" id="Q154" value="4">Frequentemente</label>
                        <label><input type="radio" name="Q15" id="Q155" value="5">Sempre</label><BR><BR>
                 </div>
<h5>16 - Eu fumo cigarros para me “por para cima”.</h5></p>
                <div class="radio">              
                        <label><input type="radio" name="Q16" id="Q161" value="1">Nunca</label>
                        <label><input type="radio" name="Q16" id="Q162" value="2">Raramente</label>
                        <label><input type="radio" name="Q16" id="Q163" value="3">Às vezes</label>
                        <label><input type="radio" name="Q16" id="Q164" value="4">Frequentemente</label>
                        <label><input type="radio" name="Q16" id="Q165" value="5">Sempre</label><BR><BR>
                 </div>
<h5>17 - As vezes eu sinto que os cigarros são os meus melhores amigos.</h5></p>
                <div class="radio">              
                        <label><input type="radio" name="Q17" id="Q171" value="1">Nunca</label>
                        <label><input type="radio" name="Q17" id="Q172" value="2">Raramente</label>
                        <label><input type="radio" name="Q17" id="Q173" value="3">Às vezes</label>
                        <label><input type="radio" name="Q17" id="Q174" value="4">Frequentemente</label>
                        <label><input type="radio" name="Q17" id="Q175" value="5">Sempre</label><BR><BR>
                 </div>
<h5>18 - Eu fumo cigarros quando me sinto triste ou quando quero esquecer minhas obrigações ou preocupações.</h5></p>
                <div class="radio">              
                        <label><input type="radio" name="Q18" id="Q181" value="1">Nunca</label>
                        <label><input type="radio" name="Q18" id="Q182" value="2">Raramente</label>
                        <label><input type="radio" name="Q18" id="Q183" value="3">Às vezes</label>
                        <label><input type="radio" name="Q18" id="Q184" value="4">Frequentemente</label>
                        <label><input type="radio" name="Q18" id="Q185" value="5">Sempre</label><BR><BR>
                 </div>
<h5>19 - Eu sinto uma vontade enorme de pegar um cigarro se fico um tempo sem fumar.</h5></p>
                <div class="radio">              
                        <label><input type="radio" name="Q19" id="Q191" value="1">Nunca</label>
                        <label><input type="radio" name="Q19" id="Q192" value="2">Raramente</label>
                        <label><input type="radio" name="Q19" id="Q193" value="3">Às vezes</label>
                        <label><input type="radio" name="Q19" id="Q194" value="4">Frequentemente</label>
                        <label><input type="radio" name="Q19" id="Q195" value="5">Sempre</label><BR><BR>
                 </div>
<h5>20 - Eu já me peguei com um cigarro na boca sem me lembrar de tê-lo colocado lá.</h5></p>
                <div class="radio">              
                        <label><input type="radio" name="Q20" id="Q201" value="1">Nunca</label>
                        <label><input type="radio" name="Q20" id="Q202" value="2">Raramente</label>
                        <label><input type="radio" name="Q20" id="Q203" value="3">Às vezes</label>
                        <label><input type="radio" name="Q20" id="Q204" value="4">Frequentemente</label>
                        <label><input type="radio" name="Q20" id="Q205" value="5">Sempre</label><BR><BR>
                 </div>
<h5>21 - Eu me preocupo em engordar se parar de fumar.</h5></p>
                <div class="radio">              
                        <label><input type="radio" name="Q21" id="Q211" value="1">Nunca</label>
                        <label><input type="radio" name="Q21" id="Q212" value="2">Raramente</label>
                        <label><input type="radio" name="Q21" id="Q213" value="3">Às vezes</label>
                        <label><input type="radio" name="Q21" id="Q214" value="4">Frequentemente</label>
                        <label><input type="radio" name="Q21" id="Q215" value="5">Sempre</label><BR><BR>
                 </div>




            </div>
          
          <div class="col-md-5 col-sm-4 col-xs-12 " style="">
            <div class="escoreBox">
              <h3>Motivações para Fumar</h3>
            </div>
            <div class="condutaBox">
              <h3 class="fat_1"></h3>
              <h4><span class="des_1"></span></h4>
              <small></small>

              <h3 class="fat_2"></h3>
              <h4><span class="des_2"></span></h4>
              <small></small>

              <h3 class="fat_3"></h3>
              <h4><span class="des_3"></span></h4>
              <small></small>

              <h3 class="fat_4"></h3>
              <h4><span class="des_4"></span></h4>
              <small></small>

              <h3 class="fat_5"></h3>
              <h4><span class="des_5"></span></h4>
              <small></small>

              <h3 class="fat_6"></h3>
              <h4><span class="des_6"></span></h4>
              <small></small>

              <h3 class="fat_7"></h3>
              <h4><span class="des_7"></span></h4>
              <small></small>

              <h3 class="fat_8"></h3>
              <h4><span class="des_8"></span></h4>
              <small></small>

              <h3 class="fat_9"></h3>
              <h4><span class="des_9"></span></h4>
              <small></small>

              
            </div>
          </div>

        </div>
    </div>
</div><div class='container calc-footer'>
    <div class="col-md-12">
        <h4>Referências:</h4>
        <dl>
            <dt>SOUZA, E. S. T. et al. Escala razões para fumar da Universidade de São Paulo: um novo instrumento para avaliar a motivação para fumar. Jornal Brasileiro de Pneumologia, São Paulo, v. 36, n. 6, p. 768-778, 2010. Disponível em: 
            <em> 
               <a href="http://www.scielo.br/pdf/jbpneu/v36n6/v36n6a15.pdf" target="_blank"> 
                   http://www.scielo.br/pdf/jbpneu/v36n6/v36n6a15.pdf</a> 
            </em>
               .Acesso em: nov. 2016.
            </dt>           
        </dl>

        <dl>
            <dt>BRASIL. Ministério da Saúde. Secretaria de Atenção à Saúde. Departamento de Atenção Básica. Estratégias para o cuidado da pessoa com doença crônica: o cuidado da pessoa tabagista. Brasília, DF: Ministério da Saúde, 2015. (Cadernos da Atenção Básica, n. 40). Disponível em: 
            <em>
                <a href="http://dab.saude.gov.br/portaldab/biblioteca.php?conteudo=publicacoes/cab40" target="_blank"> 
                 http://dab.saude.gov.br/portaldab/biblioteca.php?conteudo=publicacoes/cab40</a>
            </em>
            . Acesso em: nov. 2016.</dt>           
        </dl>

    </div>
</div>