<article class="caso">
  <section id="introducao"></section>
  <section id="estadoResposta" class="hide">
    <div class="text-center mensagem row">
    </div>
    <div class="text-center row">
      <button id="btnRecomeca" class="btn btn-danger btn-xs">Recomeçar</button>
      <button id="btnContinua" class="btn btn-info btn-xs">Continuar</button>
    </div>
    <div id="confirmaRecomeca" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content" style="margin-top:100px">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">Quer mesmo Recomeçar?</h4>
          </div>
          <div class="modal-body">
            <p>Tem certeza que deseja recomeçar este caso?</p>
            <small>Você irá <u>perder o seu progresso neste caso</u> até agora.</small>
          </div>
          <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-info">Cancelar</button>
            <button type="button" data-dismiss="modal" class="btn btn-danger" id="delete">Sim, quero reiniciar o caso</button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="pacienteTopo"></section>
  <section id="slidesLista"></section>
</article>
<!-- <footer class="navbar navbar-fixed-bottom caso-rodape"></footer> -->