<div class='infoMunSel'>
    <div class="h2">
        <span class="cidade"></span> <i class="mdi-maps-pin-drop"></i> <span class="estado"></span>
    </div>
</div>
<div class="list-group ubsDeMunSel"></div>